<% provide(:title, "Resend Confirmation Instructions") %>

<main class="page-content header-line pad-page">
  <div class="page-width-sm">
    <h1 class="center">Resend Confirmation Instructions</h1>
    <div class="user-form">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "mar-bt" }) do |f| %>
        <%= render 'shared/flash' %>
        <%= devise_error_messages! %>

        <%= f.label :email %>
        <%= f.email_field :email, value: resource.email, autofocus: true %>

        <%= f.submit "Resend", class: "btn2 btn2-blue btn-large" %>
      <% end %>

      <%= render "shared/devise-links" %>
    </div>
  </div>
</main>
