<% provide(:title, "Log in") %>

<main class="login-page page-content header-line pad-page">
  <div class="page-width-sm">
    <h1 class="center">Log in</h1>
    <div class="user-form">
      <%= render 'shared/flash' %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%# Leaving this out for now, on the main site %>
        <%# if devise_mapping.rememberable? -%>
          <%#= f.check_box :remember_me %>
          <%#= f.label :remember_me %>
        <%# end -%>

        <%= f.submit "Log in", class: "btn2 btn2-blue btn-large" %>
      <% end %>

      <%= render "shared/devise-links" %>
    </div>
  </div>
</main>
