<section class="ms-landing-page__content">
  <h1 class="mar-bt">Resend confirmation instructions</h1>

  <%= form_for(resource, as: :user, url: user_confirmation_path, html: { method: :post, class: "mar-bt" }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <div><%= f.label :email %></div>
      <div><%= f.email_field :email, autofocus: true, value: resource.email, class: "full-width" %></div>
    </div>

    <div class="actions">
      <%= f.submit "Resend" %>
    </div>
  <% end %>

  <%= render "addin/shared/devise-links" %>
</section>
