<footer id="footer" class="site-footer">
  <div class="site-footer__blocks">
    <div class="site-footer__block">
      <h3>Learn</h3>
      <ul>
        <li><%= link_to "Courses", root_path(:anchor => "courses") %></li>
        <li><%= link_to "Excel Addin", "https://appsource.microsoft.com/en-us/product/office/WA104381078" %></li>
        <li><%= link_to "Spreadsheet Tips", tips_path %></li>
        <li><%= link_to "CustomFormats.com", "https://customformats.com" %></li>
      </ul>
    </div>
    <div class="site-footer__block">
      <h3>Plans</h3>
      <ul>
        <li><%= link_to "Pricing", pricing_path %></li>
        <li><%= link_to "For Libraries", libraries_path %></li>
        <li><%= link_to "For Community Centers", community_centers_path %></li>
        <li><%#= link_to "For Businesses", businesses_path %></li>
      </ul>
    </div>
    <div class="site-footer__block">
      <h3>Company</h3>
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", "mailto:info@gridmaster.io" %></li>
        <li><%= link_to "Privacy Policy", privacy_path %></li>
      </ul>
    </div>
    <div class="site-footer__block">
      <h3>Social</h3>
      <ul>
        <li><%= link_to "Twitter", "https://twitter.com/gridmasterhq" %></li>
        <li><%= link_to "Blog", "https://medium.com/gridmaster" %></li>
      </ul>
    </div>
    <div class="site-footer__block copyright-block">
      <ul>
        <%= link_to "", root_path, class: "site-footer__logo" %>
        <li class="made-with">Made with <span class="made-with-emoji">❤️</span> in Dayton, Ohio</li>
        <li><small>© Copyright <%= Time.current.year %></small></li>
      </ul>
    </div>
  </div>
</footer>
