<header class="site-header">
  <div class="page-width">
    <%= link_to "", root_path, class: "home-link" %>
    <nav class="main-nav">
      <%= link_to "Tips", tips_path %>
      <%= link_to "Pricing", pricing_path %>
      <%= link_to "About", about_path %>

      <% if user_signed_in? %>
        <%= link_to "Profile", edit_user_registration_path %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path %>
        <%= link_to "Log In", new_user_session_path %>
      <% end %>
    </nav>
  </div>
</header>
