<div class="modal micromodal-slide" id="promo-video" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="promo-video-title">
      <button class="modal__close modal__close--absolute" aria-label="Close modal" data-micromodal-close></button>
      <main id="promo-video-content" class="promo-video__wrapper">
        <iframe
          src="https://player.vimeo.com/video/297375903"
          id="promo-video-iframe"
          class="promo-video__player"
          width="640"
          height="400"
          frameborder="0"
          allowfullscreen>
        </iframe>
      </main>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var promoVideoIframe = document.querySelector('#promo-video-iframe');
    var promoVideoPlayer = new Vimeo.Player(promoVideoIframe);

    MicroModal.init({
      onShow: function() { promoVideoPlayer.play() },
      onClose: function() { promoVideoPlayer.pause() }
    });
  });
</script>
