<header class="site-header">
  <div class="page-width">
    <%= link_to "", root_path, class: "home-link" %>
    <nav class="main-nav">
      <%= link_to "About", about_path %>
    </nav>
  </div>
</header>
