<%#
  Adds Stripe Checkout (custom) to a page.

  It works by turning any button with a class of .stripe-checkout--premium
  into a premium stripe checkout button.

  This assumes it's only being embedded on a page once, and it's being embedded on
  a page that could have access to current_user (though it's protected in a condition)
%>

<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
  // Global Stripe initialization
  var stripeHandler = StripeCheckout.configure({
    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
    name: 'Gridmaster',
    image: '<%= image_path('gridmaster-128.png') %>',
    email: '<%= current_user.email if current_user %>',
    zipCode: true,
    locale: 'auto',
    allowRememberMe: false,
    token: function(token) {
      GM.hardPost('<%= charges_path %>', {
        authenticity_token: '<%= form_authenticity_token %>',
        stripeEmail: token.email,
        stripeToken: token.id
      });
    }
  });

  // "Premium" Button Setup
  (function() {
    function stripePremiumButtonCallback(e) {
      stripeHandler.open({
        description: 'Premium',
        amount: 7900,
        panelLabel: <% if current_user %>'Upgrade Account'<% else %>'Create Account'<% end %>
      });
      e.preventDefault();
    }

    var stripeButtons = document.querySelectorAll('.stripe-checkout--premium');

    for (i = 0; i < stripeButtons.length; i++) {
      stripeButtons[i].addEventListener('click', stripePremiumButtonCallback);
    }

    // Close Checkout on page navigation:
    window.addEventListener('popstate', function() {
      stripeHandler.close();
    });
  })();
</script>
