<div class="modal micromodal-slide" id="tips-signup-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="promo-video-title">
      <button class="modal__close modal__close--absolute" aria-label="Close modal" data-micromodal-close></button>
      <main>

        <h2 class="tips-signup-title">Get an animated gif Excel tip like this in your inbox each week.</h2>
        <div id="mc_embed_signup" class="tips-modal-signup-wrapper">
          <form action="//gridmaster.us11.list-manage.com/subscribe/post?u=c6aa5d99b8059f1aba3005443&amp;id=cf722f27b0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" class="email-layout">
              <div class="email-input-wrap">
                <label for="mce-EMAIL" class="email-label">Email Address</label>
                <input type="email" value="" placeholder="example@gmail.com" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
              <div class="email-submit-wrap">
                <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="email-button" onclick="gtag('event', 'TipsSubscribe', {'event_category': 'Individual Tip Page'});">
              </div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;">
              <input type="text" name="b_c6aa5d99b8059f1aba3005443_cf722f27b0" tabindex="-1" value="">
            </div>
          </form>
        </div>

      </main>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    MicroModal.init();
  });
</script>
