<section class="ms-landing-page__content">

  <h1 class="mar-bt">Log in</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { :class => "mar-bt" }) do |f| %>
    <div class="field">
      <div><%= f.label :email %></div>
      <div><%= f.email_field :email, autofocus: true %></div>
    </div>

    <div class="field">
      <div><%= f.label :password %></div>
      <div><%= f.password_field :password, autocomplete: "off" %></div>
    </div>

    <%# @todo: remove this "rememberable" feature entirely %>
    <%# if devise_mapping.rememberable? %>
      <%# <div class="field"> %>
        <%#= f.check_box :remember_me %>
        <%#= f.label :remember_me %>
      <%# </div> %>
    <%# end %>

    <% if @completion_data %>
      <%= hidden_field :completion, :user_id, :value => @completion_data[:user_id] %>
      <%= hidden_field :completion, :course_id, :value => @completion_data[:course_id] %>
      <%= hidden_field :completion, :lesson_id, :value => @completion_data[:lesson_id] %>
      <%= hidden_field :completion, :challenge_step, :value => @completion_data[:challenge_step] %>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "addin/shared/devise-links" %>

</section>
