<% provide(:title, 'Conclusion') %>
<main class="ms-landing-page__main">
  <section class="ms-landing-page__content ms-font-m ms-fontColor-neutralPrimary conclusion">
    <div class="conclusion__content">
      <p class="center"><%= image_tag("progress-summit.png", alt: "Summit") %></p>
      <h1 class="mar-bt">Course Complete!</h1>
      <p class="mar-bt-xlg ms-font-m">Congrats on completing the course!<br/> Was it helpful for you?</p>
      <div>
        <%= link_to '#0', class: "ms-Button ms-Button--primary msfix-linkbutton ms-fontColor-white", data: { modal_trigger_id: "feedback-yes" } do %>
          <span class="ms-Button-label msfix-button-lite">Yes</span>
        <% end %>
        <%= link_to '#0', class: "ms-Button ms-Button--primary msfix-linkbutton ms-fontColor-white", data: { modal_trigger_id: "feedback-no" } do %>
          <span class="ms-Button-label msfix-button-lite">No</span>
        <% end %>
      </div>
    </div>
    <div class="conclusion__confetti"></div>
    <hr />
    <div class="link-footer">
      <div id="certificate-data" data-user-name="<%= @user.name %>" data-course-name="<%= @course.name %>"></div>
      <%= link_to '#0', class: "ms-font-s left certificate-link" do %>
        <span>Get my certificate</span>
      <% end %>
      <%= link_to addin_courses_path, class: "ms-font-s" do %>
        <span>Take me to the course list</span>
      <% end %>
    </div>
  </section>
</main>

<div class="modal is-hidden" id="feedback-yes">
  <div class="modal__inner">

      <div class="modal__header">
        <h2>Feedback</h2>
        <a href="#0" class="modal__dismiss">
          <i class="ms-Icon ms-Icon--Cancel ms-fontColor-white modal__icon"></i>
        </a>
      </div>
      <div class="modal__body">
        <%= form_tag(addin_feedback_create_path(:redirect => addin_courses_path), method: "post") do %>

          <p class="mar-bt ms-font-m">Cool, I'm glad it was helpful. What would make it (or Gridmaster in general) even better?</p>

          <%= label_tag(:feedback, "Feedback", :class => "visuallyhidden") %>
          <%= text_area(:feedback, :message, :class => "full-width", :rows => 8) %>

          <%= hidden_field :feedback, :metadata, :value => "Conclusion feedback from #{request.url}" %>
          <%= hidden_field :feedback, :name, :value => @user.name %>
          <%= hidden_field :feedback, :email, :value => @user.email %>
          <%= hidden_field :feedback, :nickname %>

          <%= submit_tag "Submit" %>

        <% end %>
      </div>
    </div>

  </div>
</div>

<div class="modal is-hidden" id="feedback-no">
  <div class="modal__inner">

      <div class="modal__header">
        <h2>Feedback</h2>
        <a href="#0" class="modal__dismiss">
          <i class="ms-Icon ms-Icon--Cancel ms-fontColor-white modal__icon"></i>
        </a>
      </div>
      <div class="modal__body">
        <%= form_tag(addin_feedback_create_path(:redirect => addin_courses_path), method: "post") do %>

          <p class="mar-bt ms-font-m">Hmmm, ok. What would make it (or Gridmaster in general) better?</p>

          <%= label_tag(:feedback, "Feedback", :class => "visuallyhidden") %>
          <%= text_area(:feedback, :message, :class => "full-width", :rows => 8) %>

          <%= hidden_field :feedback, :metadata, :value => "Conclusion feedback from #{request.url}" %>
          <%= hidden_field :feedback, :name, :value => @user.name %>
          <%= hidden_field :feedback, :email, :value => @user.email %>
          <%= hidden_field :feedback, :nickname %>

          <%= submit_tag "Submit" %>

        <% end %>
      </div>
    </div>

  </div>
</div>
