<% provide(:title, 'Browse') %>

<main class="ms-landing-page__main">
  <section class="ms-landing-page__content ms-font-m ms-fontColor-neutralPrimary">

    <h1 class="mar-bt">Courses</h1>

    <% @courses.each do |course| %>
      <%= link_to addin_course_lessons_path(course),
          class: "#{'course-box--free' if course.free?} #{'is-coming' if course.coming? && !@user.premium_beta?} course-box ms-fontColor-white ms-bgColor-themePrimary ms-bgColor-themeDark--hover pad" do %>
          <div class="course-box__content">
            <div>
              <div class="ms-font-l"><%= course.name %></div>
              <div class="ms-font-xs">Level: <%= course.level %></div>
            </div>
            <% if course.completed %>
              <i class="ms-Icon course-box__completed-icon ms-Icon--CheckMark ms-fontColor-white"></i>
            <% end %>
          </div>
      <% end %>
    <% end %>

    <div class="link-footer">
      <%= link_to "Looking for more courses?", "#0", data: { modal_trigger_id: "get-notified" }, class: "left" %>
      <% if addin_user_signed_in? %>
        <%= link_to "Leave Feedback", "#0", data: { modal_trigger_id: "feedback" } %>
      <% end %>
    </div>

    <%= render 'addin/shared/get_notified' %>
    <% if addin_user_signed_in? %>
      <%= render 'addin/shared/general_feedback' %>
    <% end %>
  </section>
</main>
