<section class="ms-landing-page__content profile">

  <h1 class="mar-bt">My Profile</h1>
  <%= devise_error_messages! %>

  <h3 class="mar-bt-sm">Basic Information</h3>
  <%= form_for(resource, as: resource_name, url: addin_users_update_info_path, html: { method: :put }) do |f| %>

    <div class="field">
      <div><%= f.label :name %></div>
      <div><%= f.text_field :name %></div>
    </div>

    <div class="field">
      <div><%= f.label :email %></div>
      <div><%= f.email_field :email, autofocus: true %></div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>

  <% end %>

  <hr />

  <h3 class="mar-bt-sm">Change Password</h3>
  <%= form_for(resource, as: resource_name, url: addin_users_update_password_path, html: { method: :put }) do |f| %>

    <div class="field">
      <div><%= f.label :current_password, "Verify Current Password" %></div>
      <div><%= f.password_field :current_password, autocomplete: "off" %></div>
    </div>

    <div class="field">
      <div><%= f.label :password, "New Password" %></div>
      <div><%= f.password_field :password, autocomplete: "off" %></div>
      <% if @minimum_password_length %>
        <div><em><%= @minimum_password_length %> characters minimum</em></div>
      <% end %>
    </div>

    <div class="field">
      <div><%= f.label :password_confirmation, "Confirm New Password" %></div>
      <div><%= f.password_field :password_confirmation, autocomplete: "off" %></div>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <hr />

  <h3 class="mar-bt-sm">Email</h3>

  <p class="mar-bt-sm">We send out 3 types of emails:</p>

  <table class="profile__table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Frequency</th>
        <th>Manage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Account management (confirmations, etc)</td>
        <td>Triggered by your activity</td>
        <td><em>(required)</em></td>
      </tr>
      <tr>
        <td>Gridmaster updates</td>
        <td>Infrequent</td>
        <td><a href="#0" onclick="window.open('https://gridmaster.us11.list-manage.com/unsubscribe?u=c6aa5d99b8059f1aba3005443&id=65ef90be52');">Unsubscribe</a></td>
      </tr>
      <tr>
        <td>Spreadsheet tips</td>
        <td>Bi-Weekly</td>
        <td><a href="#0" onclick="window.open('https://gridmaster.us11.list-manage.com/unsubscribe?u=c6aa5d99b8059f1aba3005443&id=cf722f27b0');">Unsubscribe</a></td>
      </tr>
    </tbody>
  </table>

  <hr />

  <h3 class="mar-bt-sm">Other Settings</h3>
  <p>
    <%= button_to "Delete my account", registration_path(resource_name), method: :delete %>
  </p>

</section>
