<section class="ms-landing-page__content">

  <h1 class="mar-bt">Sign up</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { :class => "mar-bt" }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <div><%= f.label :email %></div>
      <div><%= f.email_field :email, autofocus: true %></div>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <div><em>(<%= @minimum_password_length %> characters minimum)</em></div>
      <% end %>
      <div><%= f.password_field :password, autocomplete: "off" %></div>
    </div>

    <div class="field">
      <div><%= f.label :password_confirmation %></div>
      <div><%= f.password_field :password_confirmation, autocomplete: "off" %></div>
    </div>

    <% if @completion_data %>
      <%= hidden_field :completion, :user_id, :value => @completion_data[:user_id] %>
      <%= hidden_field :completion, :course_id, :value => @completion_data[:course_id] %>
      <%= hidden_field :completion, :lesson_id, :value => @completion_data[:lesson_id] %>
      <%= hidden_field :completion, :challenge_step, :value => @completion_data[:challenge_step] %>
    <% end %>

    <div class="actions">
      <%= invisible_recaptcha_tags text: "Sign up" %>
    </div>
  <% end %>

  <%= render "addin/shared/devise-links" %>

</section>
