<% provide(:title, "About") %>
<% provide(:description, "Gridmaster is our attempt to reinvent spreadsheet training for a new generation. We're doing that by making interactive Excel courses, where you learn better by doing, not watching.") %>

<main class="pad-page page-content header-line">
  <div class="page-width-sm">
    <h1 class="center">About</h1>
    <p>Gridmaster is our attempt to reinvent spreadsheet training for a new generation. We're doing that by making interactive Excel courses, where you learn better by doing, not watching.</p>
    <h2>Team</h2>
    <div class="team">
      <div class="teammate-box">
        <img class="teammate-image" src="https://gravatar.com/avatar/804fbd4a33d8269c714a89043fb95b89?s=150" alt="Bryan Image">
        <h3 class="teammate-name">Bryan Braun</h3>
        <p class="teammate-bio">Bryan is a web designer/developer in the American Midwest. He worked as an IT Trainer prior to becoming a web-developer full time.</p>
      </div>
      <div class="teammate-box">
        <img class="teammate-image" src="https://gravatar.com/avatar/0e0ff31359896d887af7eebcb7958da9?s=150" alt="Andrew Image">
        <h3 class="teammate-name">Andrew Childress</h3>
        <p class="teammate-bio">Andrew’s background is in corporate finance. He also teaches courses and tutorials online.</p>
      </div>
    </div>
    <h2>Want to Collaborate?</h2>
    <p>Do you care about using technology and thoughtful design to teach more effectively? Do you know a thing or two about Spreadsheets? If so, email us at <a href="mailto:info@gridmaster.io?subject=Let's Collaborate">info@gridmaster.io</a>, and ask how we can collaborate</a>.</p>
  </div>
</main>
