<% provide(:title, "Excel Add-in Support") %>

<main class="pad-page page-content header-line">
  <div class="page-width-sm">
    <h1 class="title">Using the Gridmaster Add-in</h1>
    <p>The Gridmaster Excel add-in helps you <a href="https://gridmaster.io">learn Excel by doing</a>. Watch video courses, and and complete challenges embedded in your Excel spreadsheet.</p>
    <h3>Installation</h3>
    <p>From inside Excel, <a href="https://support.office.com/en-us/article/Get-an-Office-Add-in-for-Excel-d3df5854-0a4e-4169-9cc3-25177a288d3d?ui=en-US&rs=en-US&ad=US">go to the Office Add-ins store and search for Gridmaster</a>.</p>
    <h3>Support</h3>
    <p>If you need help accessing or using the Add-in, just email us <a href="mailto:info@gridmaster.io">info@gridmaster.io</a>.</p>
  </div>
</main>
