<% provide(:title, "Excel Training in #{@city.name} | Learn Excel by Doing") %>
<% provide(:description, "Need Excel Training in #{@city.name}? We built training right into Excel, so you can learn anytime, anywhere. Get the free Excel addin (available for Windows and Mac) to get started.") %>

<%= content_for(:meta_og) do %>
    <%= tag :meta, property: 'og:title', content: "Excel Training in #{@city.name} | Learn Excel by Doing" %>
    <%= tag :meta, property: 'og:type', content: 'website' %>
    <%= tag :meta, property: 'og:description', content: "Need Excel Training in #{@city.name}? We built training right into Excel, so you can learn anytime, anywhere. Get the free Excel addin (available for Windows and Mac) to get started." %>
    <%= tag :meta, property: 'og:image', content: image_url('windows-laptop-with-gridmaster--social.png') %>
<% end %>

<%= render 'shared/simple-header' %>

<div class="page-width">
  <%= render 'shared/flash' %>
</div>
<section class="jumbotron--dark jumbotron__overlap">
  <h1 class="jumbotron__title">Need Excel Training in <%= @city.name %>?</h1>
  <div class="jumbotron__two-col">
    <div class="jumbotron__two-col__details">
      <!-- h2 class="jumbotron__two-col__details-text">Our courses guide you to Excel mastery through video lessons, and interactive challenges built right into Excel.</h2 -->
      <h2 class="jumbotron__two-col__details-text jumbotron__two-col__details-text--smaller">
        Forget boring in-person workshops.
        <br />
        <br />
        We built training right into Excel, so you can learn <em>anytime, anywhere</em>.
      </h2>
      <div class="jumbotron__two-col__details-action">
        <button class="btn2 btn2-action-now btn-large btn-trim" onclick="gtag('event', 'PlayVideo', {'event_category': 'Premium Landing Page'});" data-micromodal-trigger="promo-video">
          See how it works
        </button>
      </div>
    </div>
    <div class="jumbotron__two-col__visual">
      <button class="unbutton" onclick="gtag('event', 'PlayVideo', {'event_category': 'Premium Landing Page'});" data-micromodal-trigger="promo-video">
        <%= image_tag("windows-laptop-with-gridmaster--play.png", alt: "Gridmaster Addin screenshot", class: "jumbotron__visual") %>
      </button>
    </div>
  </div>
</section>
<div class="customer-logos customer-logos--overlapped">
  <div><img src="<%= image_path('cred--chipotle-logo-sm.png') %>" alt="Chipotle logo" /></div>
  <div><img src="<%= image_path('cred--gm-logo-sm.png') %>" alt="GM logo" /></div>
  <div><img src="<%= image_path('cred--tata-logo-sm.png') %>" alt="Tata logo" /></div>
  <div><img src="<%= image_path('cred--ericsson-logo-sm.png') %>" alt="Ericsson logo" /></div>
</div>
<section class="explainer explainer__how">
  <div class="page-width">
    <h2 class="title">How it Works</h2>
    <p>Get the free <a href="https://appsource.microsoft.com/en-us/product/office/WA104381078">Excel addin</a> available on Windows and Mac. Then:</p>

    <div class="how-steps">
      <div class="how-step">
        <h3 class="how-step__title">Learn</h3>
        <div class="how-step__icon">
          <%= image_tag("steps-learn.png") %>
        </div>
        <p>Learn from the experts through high-quality video courses.</p>
      </div>
      <div class="how-step">
        <h3 class="how-step__title">Practice</h3>
        <div class="how-step__icon">
          <%= image_tag("steps-practice.png") %>
        </div>
        <p>Complete challenges embedded right in Excel.</p>
      </div>
      <div class="how-step">
        <h3 class="how-step__title">Achieve</h3>
        <div class="how-step__icon">
          <%= image_tag("steps-achieve.png") %>
        </div>
        <p>Earn achievements and unlock rewards as you grow your knowledge and skills.</p>
      </div>
    </div>
    <p>Don't have Excel 2016+? Use the addin with <a href="https://office.live.com/start/Excel.aspx">Excel online</a> (requires a free Office 365 account).</p>
  </div>
</section>

<section class="explainer bg-grid">
  <div class="page-width center">
    <h2 class="title">Better than an in-person workshop</h2>
    <p><a href="#guarantee">We guarantee it.</a></p>
    <%= image_tag("vs-traditional-workshop.png", alt: "Gridmaster vs Traditional Workshops", class: "pad-vert-lg") %>
    <%# Customer quote about how Gridmaster is a better value than a traditional training %>
    <div class="single-quote-below-content">
      <p>"I've worked with Excel for over twenty years and seen my share of resources for learning Excel. But when I came across Gridmaster, I was struck by their innovative approach. It is the best way I can think of to learn Excel."</p>
      <p>- Shawn Washburn</p>
    </div>
</section>

<section class="explainer">
  <div class="page-width">
    <h2 class="title" id="courses">Our Course Library</h2>
    <div class="course-container">
      <div class="course-box">
        <%= image_tag("course-icon--function1.png", alt: "Introduction to Functions course icon", class: "course-box--icon") %>
        <h3 class="course-box--title">Introduction to Functions</h3>
        <p>Learn how to use functions to bring your spreadsheets to life.</p>
        <%# we need to improve the positioning of this (anchoring it to the bottom of all courses) before we can display it %>
        <%# <p><span class="difficulty" data-level="1"><i>▊</i><i>▊</i><i>▊</i><i>▊</i><i>▊</i> Beginner</span></p> %>
      </div>

      <div class="course-box">
        <%= image_tag("course-icon--averages.png", alt: "Working with Averages course icon", class: "course-box--icon") %>
        <h3 class="course-box--title">Working with Averages</h3>
        <p>Deep dive into mathmatical averages, weighted averages, averaging functions and more.</p>
      </div>

      <div class="course-box">
        <%= image_tag("course-icon--if1.png", alt: "IF Statements course icon", class: "course-box--icon") %>
        <h3 class="course-box--title">IF Statements</h3>
        <p>Learn the ins and outs of using IF statements and other conditions in your spreadsheets.</p>
      </div>

      <div class="course-box">
        <%= image_tag("course-icon--if2.png", alt: "Advanced IF Statements course icon", class: "course-box--icon") %>
        <h3 class="course-box--title">Advanced IF Statements</h3>
        <p>Master advanced IF statements and learn ways to manage complex conditions.</p>
      </div>

      <div class="course-box">
        <%= image_tag("course-icon--vlookup.png", alt: "Mastering VLOOKUP course icon", class: "course-box--icon") %>
        <h3 class="course-box--title">Mastering VLOOKUP</h3>
        <p>Discover VLOOKUP and learn how to leverage its power to reduce duplication and save time.</p>
      </div>
    </div>
  </div>
</section>

<section class="explainer bg-khaki bg-dark-hexdots">
  <div class="page-width center">
    <h2 class="title clr-white" id="pricing">Pricing</h2>
    <div class="pricing-options">
      <div class="pricing-option pricing-option--highlighted pricing-option__border">
        <div class="pricing-option__header">
          <h2 class="pricing-option__title">Individual</h2>
          <div class="pricing-option__price">$79</div>
          <%# <div class="pricing-option__limited">Limited Time Offer!</div> %>
          <div class="pricing-option__features">
            <p>Pay once and get lifetime access to our full course library, including:</p>
            <ul>
              <li>Introduction to Functions</li>
              <li>Working with Averages</li>
              <li>IF Statements</li>
              <li>Advanced IF Statements</li>
              <li>Mastering VLOOKUP</li>
              <%# <li>Upcoming Course <span class="pricing-option__coming">(coming soon)</span></li> %>
            </ul>
          </div>
        </div>
        <div class="pricing-option__footer">
          <button class=" btn2 btn-large btn2-action-now stripe-checkout--premium">Start Learning</button>
        </div>

        <%= render 'shared/stripe-checkout' %>

      </div>
      <div class="pricing-option pricing-option__border">
        <div class="pricing-option__header">
          <h2 class="pricing-option__title">For Organizations</h2>
          <div class="pricing-option__price--dim">(let's chat)</div>
          <div class="pricing-option__features">
            <p>Get network-based access for your whole organization. Perfect for businesses, schools, libraries, and community centers.</p>
          </div>
        </div>
        <div class="pricing-option__footer">
          <%= link_to "mailto:info@gridmaster.io", class: "btn2 btn2-blue btn-large" do %>
            <span>Get a quote</span>
          <% end %>
        </div>
      </div>
    </div>
    <p class="clr-white relative">
      <a name="guarantee" class="guarantee-position"></a>
      If you aren't 100% satisfied with the quality of the training, we'll send you a refund.
    </p>
  </div>
</section>

<div class="page-width-sm center">
  <div class="landing1__quotes">
    <div class="landing1__quote">
      <p>"I am honestly blown away. Very cool."</p>
      <p>- Ryan Stratford</p>
    </div>
    <div class="landing1__quote">
      <p>"I can see Gridmaster as being the future of Excel training."</p>
      <p>- Thomas Lakas</p>
    </div>
  </div>
</div>

<div class="cred-box bg-light-gray-1">
  <div class="cred-box__item">
    <%= image_tag("cred--365-hackathon.png", alt: "Office 365 Hackathon Winner", class: "") %>
  </div>
  <div class="cred-box__item">
    <%= image_tag("cred--product-hunt.png", alt: "As seen on Product Hunt", class: "") %>
  </div>
</div>

<%= render 'shared/footer' %>
<%= render 'shared/promo-video-modal' %>
