<% provide(:title, "Excel Training for Community Centers") %>
<% provide(:description, "Offer classroom-style Excel training, without juggling teachers and schedules.") %>

<%= content_for(:meta_og) do %>
  <%= tag :meta, property: 'og:title', content: 'Excel Training for Community Centers' %>
  <%= tag :meta, property: 'og:type', content: 'website' %>
  <%= tag :meta, property: 'og:description', content: 'Offer classroom-style Excel training, without juggling teachers and schedules.' %>
  <%= tag :meta, property: 'og:image', content: image_url('windows-laptop-with-gridmaster--social.png') %>
<% end %>

<div class="landing1">
  <section class="jumbotron--dark jumbotron__overlap">
    <h1 class="jumbotron__title">Excel Training, designed <br/>for Community Centers</h1>
    <div class="jumbotron__two-col">
      <div class="jumbotron__two-col__details">
        <h2 class="jumbotron__two-col__details-text">Offer classroom-style Excel training, without juggling teachers and schedules.</h2>
        <div class="jumbotron__two-col__details-action">
          <%= link_to "Request a free trial", "mailto:bryan@gridmaster.io?subject=Hello&body=Hey Bryan,%0D%0A%0D%0ACan you tell me more about Gridmaster for community centers?", class: "btn2 btn2-success btn-large btn-trim" %>
        </div>
      </div>
      <div class="jumbotron__two-col__visual">
        <button class="unbutton" onclick="gtag('event', 'PlayVideo', {'event_category': 'Community Centers Landing Page'});" data-micromodal-trigger="promo-video">
          <%= image_tag("windows-laptop-with-gridmaster--play.png", alt: "Gridmaster Addin screenshot", class: "jumbotron__visual") %>
        </button>
      </div>
    </div>
  </section>
  <section class="explainer laptop-underpad">
    <div class="page-width-sm">
      <h2 class="title">How it Works</h2>
      <p class="align-left">Install <a href="https://appsource.microsoft.com/en-us/product/office/WA104381078">our addin</a> on your public computers, and your community gets access to a hands-on Excel training program, which they complete at their own pace.</p>
    </div>
  </section>
  <section class="explainer explainer-2 bg-khaki">
    <div class="page-width-sm">
      <div class="landing1__feature">
        <div class="landing1__feature__box--lg">
          <h3>A full, classroom-style training program, out of the box</h3>
          <p>We give you everything you need to offer Excel training, including instruction, exercises, and progress tracking. Use it to augment your existing trainings, or as a stand-alone service.</p>
        </div>
        <div class="landing1__feature__box--sm">
          <%= image_tag("feature__box.png") %>
        </div>
      </div>

      <div class="landing1__feature">
        <div class="landing1__feature__box--lg">
          <h3>We combine the benefits of online and in-person</h3>
          <p>Our courses blend video instruction with interactive challenges embedded right in Excel. This provides the flexibility of an online course, with the hands-on experience of an in-person class.</p>
        </div>
        <div class="landing1__feature__box--sm">
          <%= image_tag("feature__addin.png") %>
        </div>
      </div>

      <div class="landing1__feature">
        <div class="landing1__feature__box--lg">
          <h3>They get skills, confidence, and a certificate</h3>
          <p>Our 5-course series covers everything from spreadsheet basics to advanced functions. With each completed course, learners get a printed certificate they can reference in their resumes.</p>
        </div>
        <div class="landing1__feature__box--sm">
          <%= image_tag("feature__certificate.png") %>
        </div>
      </div>
    </div>
  </section>
  <section class="explainer">
    <h2 class="title">Try it out, risk free.</h2>
    <p>Request a free trial today, to see if it's a good fit.</p>
    <%= link_to "Request a free trial", "mailto:bryan@gridmaster.io?subject=Hello&body=Hey Bryan,%0D%0A%0D%0ACan you tell me more about Gridmaster for community centers?", class: "btn2 btn2-success btn-large" %>
  </section>
  <section class="bg-light-gray-1" id="testimonials">
    <div class="page-width">
      <div class="landing1__quotes">
        <div class="landing1__quote">
          <p>“I’ve worked with Excel for over twenty years and seen my share of resources for learning Excel. But when I came across Gridmaster, I was struck by their innovative approach. <strong>It is the best way I can think of to learn Excel.</strong>”</p>
          <p>Shawn Washburn</p>
        </div>
        <div class="landing1__quote">
          <p>“I’ve been using Gridmaster all summer long and it’s an amazing program. Thank you for providing it!”</p>
          <p>Marika Lesche</p>
        </div>
        <div class="landing1__quote">
          <p>“I am honestly blown away. Very cool.”</p>
          <p>Ryan Stratford</p>
        </div>
        <div class="landing1__quote">
          <p>“I have a general concept of Excel but <strong>this is the first course I have really liked</strong>. The lessons were very clear, well-explained. The practice was excellent.”</p>
          <p>Randy Fouse</p>
        </div>
      </div>
    </div>
  </section>
</div>

<%= render 'shared/promo-video-modal' %>
