<% provide(:description, "Learn Excel through video lessons and interactive challenges you complete right in your spreadsheet. Get the free Excel addin (available for Windows and Mac) to get started.") %>

<%= content_for(:meta_og) do %>
  <%= tag :meta, property: 'og:title', content: 'Gridmaster: Learn Excel by Doing' %>
  <%= tag :meta, property: 'og:type', content: 'website' %>
  <%= tag :meta, property: 'og:description', content: 'Learn Excel through video lessons and interactive challenges you complete right in your spreadsheet. Get the free Excel addin (available for Windows and Mac) to get started.' %>
  <%= tag :meta, property: 'og:image', content: image_url('windows-laptop-with-gridmaster--social.png') %>
<% end %>

<div class="page-width">
  <%= render 'shared/flash' %>
</div>
<section class="jumbotron jumbotron__overlap">
  <h1 class="jumbotron__title">Learn Excel by Doing</h1>
  <button class="unbutton" onclick="gtag('event', 'PlayVideo', {'event_category': 'Homepage'});" data-micromodal-trigger="promo-video">
    <%= image_tag("windows-laptop-with-gridmaster--play.png", alt: "Gridmaster Addin screenshot", class: "jumbotron__visual") %>
  </button>
</section>
<div class="customer-logos customer-logos--overlapped">
  <div><img src="<%= image_path('cred--chipotle-logo-sm.png') %>" alt="Chipotle logo" /></div>
  <div><img src="<%= image_path('cred--gm-logo-sm.png') %>" alt="GM logo" /></div>
  <div><img src="<%= image_path('cred--tata-logo-sm.png') %>" alt="Tata logo" /></div>
  <div><img src="<%= image_path('cred--ericsson-logo-sm.png') %>" alt="Ericsson logo" /></div>
</div>
<section class="explainer explainer__how">
  <div class="page-width">
    <h2 class="title">How it Works</h2>
    <p>Get the free <a href="https://appsource.microsoft.com/en-us/product/office/WA104381078">Excel addin</a> available on Windows and Mac. Then:</p>

    <div class="how-steps">
      <div class="how-step">
        <h3 class="how-step__title">Learn</h3>
        <div class="how-step__icon">
          <%= image_tag("steps-learn.png") %>
        </div>
        <p>Learn from the experts through high-quality video courses.</p>
      </div>
      <div class="how-step">
        <h3 class="how-step__title">Practice</h3>
        <div class="how-step__icon">
          <%= image_tag("steps-practice.png") %>
        </div>
        <p>Complete challenges embedded right in Excel.</p>
      </div>
      <div class="how-step">
        <h3 class="how-step__title">Achieve</h3>
        <div class="how-step__icon">
          <%= image_tag("steps-achieve.png") %>
        </div>
        <p>Earn achievements and unlock rewards as you grow your knowledge and skills.</p>
      </div>
    </div>
    <p>Don't have Excel 2016+? Use the addin with <a href="https://office.live.com/start/Excel.aspx">Excel online</a> (requires a free Office 365 account).</p>
  </div>
</section>
<section class="explainer bg-grid">
  <div class="page-width">
    <h2 class="title" id="courses">Available Courses</h2>
    <div class="course-container">
      <a class="course-box course-box--free" href="https://appsource.microsoft.com/en-us/product/office/WA104381078">
        <%= image_tag("course-icon--function1.png", alt: "Introduction to Functions course icon", class: "course-box--icon") %>
        <h3 class="course-box--title">Introduction to Functions</h3>
        <p>Learn how to use functions to bring your spreadsheets to life.</p>
        <%# we need to improve the positioning of this (anchoring it to the bottom of all courses) before we can display it %>
        <%# <p><span class="difficulty" data-level="1"><i>▊</i><i>▊</i><i>▊</i><i>▊</i><i>▊</i> Beginner</span></p> %>
      </a>

      <a class="course-box" href="https://appsource.microsoft.com/en-us/product/office/WA104381078">
        <%= image_tag("course-icon--averages.png", alt: "Working with Averages course icon", class: "course-box--icon") %>
        <h3 class="course-box--title">Working with Averages</h3>
        <p>Deep dive into mathmatical averages, weighted averages, averaging functions and more.</p>
      </a>

      <a class="course-box course-box--free" href="https://appsource.microsoft.com/en-us/product/office/WA104381078">
        <%= image_tag("course-icon--if1.png", alt: "IF Statements course icon", class: "course-box--icon") %>
        <h3 class="course-box--title">IF Statements</h3>
        <p>Learn the ins and outs of using IF statements and other conditions in your spreadsheets.</p>
      </a>

      <a class="course-box" href="https://appsource.microsoft.com/en-us/product/office/WA104381078">
        <%= image_tag("course-icon--if2.png", alt: "Advanced IF Statements course icon", class: "course-box--icon") %>
        <h3 class="course-box--title">Advanced IF Statements</h3>
        <p>Master advanced IF statements and learn ways to manage complex conditions.</p>
      </a>

      <a class="course-box" href="https://appsource.microsoft.com/en-us/product/office/WA104381078">
        <%= image_tag("course-icon--vlookup.png", alt: "Mastering VLOOKUP course icon", class: "course-box--icon") %>
        <h3 class="course-box--title">Mastering VLOOKUP</h3>
        <p>Discover VLOOKUP and learn how to leverage its power to reduce duplication and save time.</p>
      </a>

      <!-- Suggest a course box -->
      <!--
      <div class="course-box course-box--disabled">
        <%= image_tag("disabled-course-icon.png", alt: "Disabled Course Icon", class: "course-box--icon") %>
        <h3 class="course-box--title">███████</h3>
        <p>██ ██████ ███ ██████ ████████ ██ █████ ████ ██ ████</p>
        <a class="btn2 btn2-action btn-large btn-shadow course-box--button" href="mailto:info@gridmaster.io">Suggest a Course</a>
      </div>
      -->

    </div>

    <p class="center">Get notified when new courses are ready:</p>
    <!-- Begin  MailChimp Signup Form -->
    <div id="mc_embed_signup" class="home-email-wrapper">
      <form action="//gridmaster.us11.list-manage.com/subscribe/post?u=c6aa5d99b8059f1aba3005443&amp;id=65ef90be52" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll" class="email-layout">
          <div class="email-input-wrap">
            <label for="mce-EMAIL" class="email-label">Email Address</label>
            <input type="email" value="" placeholder="example@gmail.com" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div class="email-submit-wrap">
            <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="email-button" onclick="gtag('event', 'GridmasterSubscribe', {'event_category': 'Home Page'});">
          </div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;">
          <input type="text" name="b_c6aa5d99b8059f1aba3005443_65ef90be52" tabindex="-1" value="">
        </div>
      </form>
      <p><small>We won't spam you. Pinky swear.</small></p>
    </div>
    <!-- End MailChimp Signup Form -->
  </div>
</section>
<section class="explainer center">
  <div class="page-width-sm">
    <h2 class="title">Try it out, risk free.</h2>
    <p>The first course is on us.</p>
    <%= link_to "Try it out", "https://appsource.microsoft.com/en-us/product/office/WA104381078", class: "btn2 btn2-success btn-large" %>
  </div>
</section>
<section class="bg-light-gray-1" id="testimonials">
  <div class="page-width">
    <div class="landing1__quotes">
      <div class="landing1__quote">
        <p>“I’ve worked with Excel for over twenty years and seen my share of resources for learning Excel. But when I came across Gridmaster, I was struck by their innovative approach. <strong>It is the best way I can think of to learn Excel.</strong>”</p>
        <p>Shawn Washburn</p>
      </div>
      <div class="landing1__quote">
        <p>“I’ve been using Gridmaster all summer long and it’s an amazing program. Thank you for providing it!”</p>
        <p>Marika Lesche</p>
      </div>
      <div class="landing1__quote">
        <p>“I am honestly blown away. Very cool.”</p>
        <p>Ryan Stratford</p>
      </div>
      <div class="landing1__quote">
        <p>“I have a general concept of Excel but <strong>this is the first course I have really liked</strong>. The lessons were very clear, well-explained. The practice was excellent.”</p>
        <p>Randy Fouse</p>
      </div>
    </div>
  </div>
</section>
<div class="cred-box bg-light-gray-2">
  <div class="cred-box__item">
  <%= image_tag("cred--365-hackathon.png", alt: "Office 365 Hackathon Winner", class: "") %>
  </div>
  <div class="cred-box__item">
    <%= image_tag("cred--product-hunt.png", alt: "As seen on Product Hunt", class: "") %>
  </div>
</div>
<%= render 'shared/promo-video-modal' %>
