<!DOCTYPE html>
<html>
<head>
  <title>Spreadsheet Tips | You've Been Signed Up!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" href="/favicon.png" type="image/x-icon" />
  <link href='https://fonts.googleapis.com/css?family=Noticia+Text:400,400italic,700italic,700' rel='stylesheet' type='text/css'>

  <style>
    body {
      color: #222;
      font-family: 'Noticia Text', Georgia, serif;
      margin: 0;
    }

    .center {
      text-align: center;
    }

    div.dialog {
      width: 95%;
      max-width: 36em;
      margin: 4em auto 0;
    }

    div.dialog > div {
      font-size: 1.125rem;
      padding: 7px 12% 0;
    }
  </style>
</head>

<body>
  <div class="dialog">
    <div class="center">
      <h1>You've been signed up!</h1>
      <p>Now you'll start getting our <br/><a href="/tips">Spreadsheet Tips</a> newsletter. 🙌  🎉</p>
      <p>We're pretty sure you're going to like it.</p>
    </div>
    <div class="center">
      <p><a href="/">Go to home page</a></p>
    </div>
  </div>
</body>
</html>
