<% provide(:title, "Pricing") %>

<div class="page-width">
  <%= render 'shared/flash' %>
</div>
<section class="jumbotron--dark">
  <h1 class="jumbotron__title">Pricing</h1>
  <div class="pricing-options">
    <div class="pricing-option drop-shadow--dark">
      <div class="pricing-option__header">
        <h2 class="pricing-option__title">Individual</h2>
        <div class="pricing-option__price">$79</div>
        <%# <div class="pricing-option__limited">Limited Time Offer!</div> %>
        <div class="pricing-option__features">
          <p>Pay once and get lifetime access to all of our current and future courses. Courses include:</p>
          <ul>
            <li>Introduction to Functions</li>
            <li>Working with Averages</li>
            <li>IF Statements</li>
            <li>Advanced IF Statements</li>
            <li>Mastering VLOOKUP</li>
            <%# <li>Upcoming Course <span class="pricing-option__coming">(coming soon)</span></li> %>
          </ul>
        </div>
      </div>
      <div class="pricing-option__footer">
        <button class=" btn2 btn-large btn2-action-now stripe-checkout--premium">Start Learning</button>

        <%= render 'shared/stripe-checkout' %>
      </div>
    </div>
    <div class="pricing-option drop-shadow--dark">
      <div class="pricing-option__header">
        <h2 class="pricing-option__title">For Organizations</h2>
        <div class="pricing-option__price--dim">(let's chat)</div>
        <div class="pricing-option__features">
          <p>Get network-based access for your whole organization. Perfect for businesses, schools, libraries, and community centers.</p>
        </div>
      </div>
      <div class="pricing-option__footer">
        <%= link_to "mailto:info@gridmaster.io", class: "btn2 btn2-blue btn-large" do %>
          <span>Get a quote</span>
        <% end %>
      </div>
    </div>
  </div>
  <p class="clr-white relative">Want to try before you buy? <%= link_to "Create a free account", new_user_registration_path %> to try our first course free.</p>
  <br/><br/>
</section>
<div class="customer-logos">
  <div><img src="<%= image_path('cred--chipotle-logo-sm.png') %>" alt="Chipotle logo" /></div>
  <div><img src="<%= image_path('cred--gm-logo-sm.png') %>" alt="GM logo" /></div>
  <div><img src="<%= image_path('cred--tata-logo-sm.png') %>" alt="Tata logo" /></div>
  <div><img src="<%= image_path('cred--ericsson-logo-sm.png') %>" alt="Ericsson logo" /></div>
</div>
<section class="explainer">
  <div class="page-width center pad-vert-lg">
    <h2 class="title" id="guarantee">Quality Guaranteed</h2>
    <p>If you aren't 100% satisfied with the quality of the training, we'll send you a refund.</p>
  </div>
</section>
<section class="bg-light-gray-1" id="testimonials">
  <div class="page-width">
    <div class="landing1__quotes">
      <div class="landing1__quote">
        <p>“I’ve worked with Excel for over twenty years and seen my share of resources for learning Excel. But when I came across Gridmaster, I was struck by their innovative approach. <strong>It is the best way I can think of to learn Excel.</strong>”</p>
        <p>Shawn Washburn</p>
      </div>
      <div class="landing1__quote">
        <p>“I’ve been using Gridmaster all summer long and it’s an amazing program. Thank you for providing it!”</p>
        <p>Marika Lesche</p>
      </div>
      <div class="landing1__quote">
        <p>“I am honestly blown away. Very cool.”</p>
        <p>Ryan Stratford</p>
      </div>
      <div class="landing1__quote">
        <p>“I have a general concept of Excel but <strong>this is the first course I have really liked</strong>. The lessons were very clear, well-explained. The practice was excellent.”</p>
        <p>Randy Fouse</p>
      </div>
    </div>
  </div>
</section>
