<% provide(:title, "Privacy Policy") %>

<main class="page-content header-line pad-page">
  <div class="page-width-sm">
    <h1 class="center">Privacy Policy</h1>
    <div class="privacy">
      <p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
      <p><strong>What personal information do we collect from the people that visit our blog, website or app?</strong></p>
      <p>When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, credit card information or other details to help you with your experience.</p>
      <p><strong>When do we collect information?</strong></p>
      <p>We collect information from you when you register on our site or enter information on our site.</p>
      <p><strong>How do we use your information? </strong></p>
      <p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:</p>
      <ul>
         <li>To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
         <li> To quickly process your transactions.</li>
         <li> To send periodic emails regarding your order or other products and services.</li>
      </ul>
      <p><strong>How do we protect your information?</strong></p>
      <p>An external PCI compliant payment gateway handles all CC transactions.</p>
      <p>We do not use vulnerability scanning and/or scanning to PCI standards.</p>
      <p>We do not use Malware Scanning.</p>
      <p>Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.</p>
      <p>We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information.</p>
      <p>All transactions are processed through a gateway provider and are not stored or processed on our servers.</p>
      <p><strong>Do we use 'cookies'?</strong></p>
      <p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>
      <p>We use cookies to understand and save user's preferences for future visits.</p>
      </ul>
      <p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.</p>
      <p><strong>If users disable cookies in their browser:</strong></p>
      <p>If you turn cookies off, Some of the features that make your site experience more efficient may not function properly.</p>
      <p><strong>Third-party disclosure</strong></p>
      <p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property or safety.</p>
      <p> However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
      <p><strong>Third-party links</strong></p>
      <p>Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>
      <p><strong>We have implemented the following:</strong></p>
      <p>We, along with third-party vendors such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user interactions with ad impressions and other ad service functions as they relate to our website.</p>
      <p><strong>Opting out:</strong></p>
      <p>Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising Initiative Opt Out page or by using the Google Analytics Opt Out Browser add on.</p>
      <p><strong>California Online Privacy Protection Act</strong></p>
      <p>CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared. - See more at: http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</p>
      <p><strong>According to CalOPPA, we agree to the following:</strong></p>
      <p>Users can visit our site anonymously.</p>
      <p>Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.</p>
      <p>Our Privacy Policy link includes the word 'Privacy' and can easily be found on the page specified above.</p>
      <p>You will be notified of any Privacy Policy changes on our Privacy Policy Page.</p>
      <p>You can change your personal information by logging in to your account.</p>
      <p><strong>How does our site handle Do Not Track signals?</strong></p>
      <p>We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</p>
      <p><strong>Does our site allow third-party behavioral tracking?</strong></p>
      <p>We do not allow third-party behavioral tracking</p>
      <p><strong>COPPA (Children Online Privacy Protection Act)</strong></p>
      <p>When it comes to the collection of personal information from children under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.</p>
      <p>We do not specifically market to children under the age of 13 years old.</p>
      <p><strong>Fair Information Practices</strong></p>
      <p>The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.</p>
      <p><strong>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</strong></p>
      <p>We will notify you via email within 7 business days.</p>
      <p>We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.</p>
      <p><strong>CAN SPAM Act</strong></p>
      <p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.</p>
      <p><strong>We collect your email address in order to:</strong></p>
      <ul>
         <li>Process orders and to send information and updates pertaining to orders.</li>
         <li> Send you additional information related to your product and/or service</li>
         <li> Market to our mailing list or continue to send emails to our clients after the original transaction has occurred.</li>
      </ul>
      <p><strong>To be in accordance with CANSPAM, we agree to the following:</strong></p>
      <ul>
         <li> Not use false or misleading subjects or email addresses.</li>
         <li> Identify the message as an advertisement in some reasonable way.</li>
         <li> Include the physical address of our business or site headquarters.</li>
         <li> Monitor third-party email marketing services for compliance, if one is used.</li>
         <li> Honor opt-out/unsubscribe requests quickly.</li>
         <li> Allow users to unsubscribe by using the link at the bottom of each email.</li>
      </ul>
      <p><strong>Contacting Us</strong></p>
      <p>If there are any questions regarding this privacy policy, you may contact us using the information below.</p>
      <p>
        gridmaster.io<br />
        620 Oakview Dr.<br />
        Dayton, Ohio 45429<br />
        United States<br />
        info@gridmaster.io
      </p>
      <p>Last Edited on 2017-05-28</p>
    </div>
  </div>
</main>
