<% provide(:title, "Purchase Complete") %>

<div class="page-width">
  <%= render 'shared/flash' %>
</div>
<main class="page-content header-line pad-page">
  <div class="page-width-sm center">
    <h1>Your purchase is complete!</h1>
    <p>We'll send a receipt to your email address right away.</p>
    <br />
    <small>
      <p>To get started on your courses, <a href="https://appsource.microsoft.com/en-us/product/office/WA104381078">get the Excel Addin</a>.</p>
      <p>Have questions or need help? <a href="mailto:info@gridmaster.io">Get in touch</a>.</p>
    </small>
  </div>
</main>

<%# Event snippet for Premium Account Sale conversion page %>
<%# (adapted to only trigger for successful transactions... not every page load) %>
<script>
  function getParameterByName(name) {
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(window.location.href);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
  }
  const isSuccessfulTransaction = !!document.querySelector('.message-box.success');
  if (isSuccessfulTransaction) {
    gtag('event', 'conversion', {
      'send_to': 'AW-845827519/jW9ZCPOws4cBEL-bqZMD',
      'transaction_id': getParameterByName('transaction_id')
    });
  }
</script>


