<% provide(:title, "Reset Password") %>

<main class="pw-reset-page page-content header-line pad-page">
  <div class="page-width-sm">
    <h1 class="center">Reset Password</h1>
    <div class="user-form">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render 'shared/flash' %>
        <%= devise_error_messages! %>

        <%= f.hidden_field :reset_password_token %>

        <%= label_tag :password do %>
          New password
          <% if @minimum_password_length %>
            <div class="user-form-meta">(<%= @minimum_password_length %> characters minimum)</div>
          <% end %>
        <% end %>

        <%= f.password_field :password, autofocus: true, autocomplete: "off" %>

        <%= f.label :password_confirmation, "Confirm new password" %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>

        <%= f.submit "Update password", class: "btn2 btn2-blue btn-large" %>
      <% end %>
    </div>
  </div>
</main>
