<% provide(:title, "Forgot Password") %>

<main class="pw-reset-page page-content header-line pad-page">
  <div class="page-width-sm">
    <h1 class="center">Forgot Password</h1>
    <div class="user-form">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render 'shared/flash' %>
        <%= devise_error_messages! %>

        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>

        <%= f.submit "Reset Password", class: "btn2 btn2-blue btn-large" %>
      <% end %>

      <%= render "shared/devise-links" %>
    </div>
  </div>
</main>
