// Modal - Styled after the Office Fabric modal component:
// https://dev.office.com/fabric#/components/modal
.modal {
  // Prevent background scrolling
  position: fixed;
  top: 40px; // header bar height
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
}

.modal__inner {
  //   100vw = full width
  //  - 12vw = 6vw left margin + 6vw right margin
  //  ---------------------------------------------
  //  Content Region
  width: calc(100vw - 12vw);
  //    100vh = full height
  //  - 100px = 40px header bar + 60px bottom footer bar
  //  -  12vw = 6vw top margin + 6vw bottom margin
  //  --------------------------------------------------
  //  Content region
  height: calc(100vh - 100px - 12vw);
  margin: 6vw 6vw 0;

  box-shadow: 0 0 5px 0 rgba(0,0,0,.4);
  background: #FFFFFF;
  overflow-y: auto;
  // For close icon and other content positioned in the modal.
  position: relative;
}

.modal__header {
  padding: 10px 20px;
  color: #FFFFFF;
  background: #0078d7; /* themePrimary */

  h1, h2, h3, h4 {
    font-weight: 200;
    margin: 0;
  }
}

.modal__dismiss {
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  font-size: 0;
}

.modal__icon {
  font-size: 22px;
}

.modal__body {
  padding: 20px;
}
