.devise-form-link {
  margin-bottom: 8px;
  line-height: 1;
}

.profile {
  // text here is small, dense, and professional
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;

  hr {
    border: none;
    height: 1px;
    color: #ebebeb;
    background-color: #ebebeb;
    margin: 1rem 0;
    clear: both;
  }
}

.profile__table {
  border-spacing: 0;
  border-collapse: collapse;

  th, td {
    border: solid 1px #ccc;
    padding: 5px 11px;
    vertical-align: top;
    text-align: left;
  }
}

// Page-specific user-flash message adjustments.
// These pages get flash messages via user flows
// but their uppermost content has no padding so
// we compensate the flash container accordingly.
.lessons-show,
.lessons-challenge {
  .addin-flash-wrap {
    margin: 0;
  }
}
