<main class="ms-landing-page__main">
  <section class="ms-landing-page__content ms-font-m ms-fontColor-neutralPrimary">
    <div class="center">
      <h1 class="mar-bt-lg">Purchase Complete!</h1>
      <p class="mar-bt ms-font-m">We'll send a receipt to your email address right away.</p>
      <%= link_to addin_courses_path, class: "ms-font-m" do %>
        <span>Take me to the course list</span>
      <% end %>
    </div>
  </section>
</main>
