// Variables
// @todo: Move these into a separate variables file.
//        This is not as easy as it sounds because Sprockets doesn't apply varibles to later
//        included stylessheets, so we'd need to come up with an imports system that makes sense.
//        Until then we'll do per-file variables like this.
$sans-serif-stack: "Lato", Arial, sans-serif;
$serif-stack: "Noticia Text", Georgia, serif;

// Brand Colors:
$gm-dark-gray: #222222;
$gm-dark-blue: #323246;
$gm-teal: #82a2bc;
$gm-light-blue: #dedef5;
$gm-khaki: #b9ffe5;
$gm-forest: #77aa77;
$gm-green: #40c850;
$gm-red: #ff6352;

/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
html {
  color: #222;
  font-size: 1rem;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  /* responsive by default */
  max-width: 100%;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

/* ==========================================================================
 Browser Upgrade Prompt
 ========================================================================== */

.browserupgrade {
  margin: 0.2rem 0;
  background: #ccc;
  color: #000;
  padding: 0.2rem 0;
}

/* ==========================================================================
 Author's custom styles
 ========================================================================== */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $serif-stack;
  background-color: #fff;
}

a {
  color: $gm-teal;
}

@font-face {
  font-family: "icomoon";
  src: font-url("icons/icomoon.eot?f5xmtr");
  src: font-url("icons/icomoon.eot?#iefixf5xmtr") format("embedded-opentype"),
    font-url("icons/icomoon.ttf?f5xmtr") format("truetype"),
    font-url("icons/icomoon.woff?f5xmtr") format("woff"),
    font-url("icons/icomoon.svg?f5xmtr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-header {
  width: 100%;
  color: #222;
  border-top: 1px solid transparent;
  padding: 1rem 0;
  text-align: left;
  height: 66px;
  background-color: white;
}

.site-header-title {
  float: left;
}

// a line to divide the header from content, on pages that need it.
.header-line {
  border-top: 1px solid #ccc;
}

.main-nav {
  float: right;
  display: flex;
  align-items: center;
  height: 34px;
}

.main-nav a {
  font-family: $sans-serif-stack;
  color: $gm-teal;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.85rem;
  padding: 0 0.75rem;
}

.site-footer {
  overflow: auto;
  text-align: center;
  background-color: $gm-dark-gray;
  padding: 3rem 1rem;
  font-family: $sans-serif-stack;
  color: white;
}
.site-footer__blocks {
  display: flex;
  justify-content: space-around;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.site-footer__block {
  @media (max-width: 566px) {
    flex-basis: 148px;
  }

  text-align: left;
  margin: 1.25rem 1rem;

  h3 {
    margin-top: 0;
  }

  ul {
    list-style-type: none;
    font-size: 0.875rem;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0.25rem 0;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }
}
.site-footer__logo {
  display: inline-block;
  height: 32px;
  width: 219px;
  margin-bottom: 0.5rem;
  background: image-url("gridmaster-footer-logo.png") no-repeat;
}

.copyright-block {
  text-align: center;
  align-self: center;
}
.made-with-emoji {
  padding: 0 3px 0 0;
}

// @todo: remove the old "btn" style, which was
//        originally only used on the old "status bar"
.btn {
  padding: 0 16px;
  display: inline-block;
  margin: 6px;
  font-size: 0.8rem;
  text-decoration: none;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  border: 0;
  border-radius: 5px;
  opacity: 0.9;

  background-color: white;
  font-family: $sans-serif-stack;
}

.btn:hover,
.btn:focus {
  opacity: 1;
  outline: none;
}

.btn-success {
  color: $gm-green;
}
.btn-error {
  color: $gm-red;
}
.btn-subtle {
  color: #eeeeee;
}
.btn-action {
  color: #0074d9;
}
.btn-dark {
  background: $gm-dark-blue;
  opacity: 1;
}

.btn-shadow {
  box-shadow: 0px 8px 8px -6px #666;
}

/* An alternative, solid button scheme */
.btn2 {
  padding: 0 16px;
  display: inline-block;
  margin: 6px;
  font-size: 0.8rem;
  text-decoration: none;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  border: 0;
  border-radius: 5px;
  color: white;
  background-color: #cccccc;
  font-family: $sans-serif-stack;
}

.btn2:hover,
.btn2:active {
  opacity: 0.9;
  outline: none;
}

.btn2-success {
  background-color: $gm-green;
}
.btn2-error {
  background-color: $gm-red;
}
.btn2-subtle {
  background-color: #eeeeee;
}
.btn2-action {
  background-color: #0074d9;
}
.btn2-action-now {
  background-color: #ccaa2e;
}
.btn2-dark {
  background: $gm-dark-blue;
  opacity: 1;
}
.btn2-link {
  text-decoration: underline;
  color: $gm-teal;
  background-color: transparent;
  border: none;
}
.btn2-blue {
  background-color: $gm-teal;
}

.btn-large {
  height: 3rem;
  line-height: 3rem;
  padding: 0 2rem;
  font-size: 1.1rem;
}
.btn-trim {
  margin: 0;
}

// Override the default font styles set by micromodal.css to
// make it act more like it's inheriting font styles from <body>
.modal {
  font-family: $serif-stack;
}

/* drop shadow for generic use */
.drop-shadow {
  box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 1);
}
.drop-shadow--dark {
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 1);
}

.home-link {
  display: inline-block;
  height: 32px;
  width: 43px;
  background: image-url("gridmaster-32.png") no-repeat;

  @media (min-width: 580px) {
    width: 219px;
    background: image-url("gridmaster-home-logo.png") no-repeat;
  }
}

// Flash/Validation Messages (originally from bitbooks):
// https://github.com/bitbooks/bitbooks.cc/blob/master/sass/_base.scss#L89
.message-box {
  font-family: $sans-serif-stack;
  font-size: 13px;
  padding: 0.8em 2.5em 0.8em 0.8em;
  border: 1px solid gray;
  margin: 0 0 1em 0;
  border-radius: 2px;
  position: relative;
  a {
    text-decoration: underline;
  }
  .icon-cross {
    text-decoration: none;
    position: absolute;
    top: 0.8em;
    right: 0.8em;
    font-size: 1.2em;
    opacity: 0.5;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
  &.success {
    color: #429e4d;
    background-color: #a4f8ae;
    border-color: #5edb6c;
    a {
      color: #429e4d;
    }
  }
  &.info,
  &.notice {
    color: #587096;
    background-color: #cce0ff;
    border-color: #adbed8;
    a {
      color: #587096;
    }
  }
  &.warning,
  &.error,
  &.alert,
  &.recaptcha_error {
    color: #f26161;
    background-color: #f2dede;
    border-color: #f2aaaa;
    a {
      color: #f26161;
    }
  }
}

/**
* target IE7 and IE6
*/
*:first-child + html pre {
  overflow: visible;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 2rem;
}

pre {
  font-size: 0.9rem;
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  word-break: normal;
  word-wrap: normal;
  white-space: pre;
  overflow: visible;
  overflow-x: auto;
  padding-bottom: 2rem;
}

/* Email Signup Form */
// Each unique instance of the form has it's own wrapper class,
// mostly used for adjusting the spacing around each form.
//   .tips-mini-signup-wrapper
//   .tips-footer-signup-wrapper
//   .home-email-wrapper
//
.email-wrapper {
  max-width: 500px;
  margin: 1rem auto 5rem;
  text-align: center;
}
.tips-mini-signup-wrapper {
  max-width: 500px;
  margin: 0.5rem auto 3rem;
}
.tips-modal-signup-wrapper {
  max-width: 500px;
  margin: 1rem auto;
}
.tips-footer-signup-wrapper {
  max-width: 500px;
  margin: 2rem auto 5rem;
}
.home-email-wrapper {
  max-width: 500px;
  margin: 3rem auto 2rem;
  text-align: center;
}

.email-hook {
  text-align: center;
  font-size: 1.25rem;
  margin: 16px 0;
}
.email-label {
  font-size: 10px;
  display: block;
  float: left;
  height: 14px;
  font-weight: normal;
}
.email-layout {
  display: flex;
  justify-content: center;
}
.email {
  width: 100%;
  font-size: 16px;
  border: 5px solid $gm-dark-blue;
  background-color: #ffffff;
  padding: 2px 6px;
  height: 52px;
  @media (min-width: 520px) {
    font-size: 28px;
  }
}
.email--small {
  width: 100%;
  font-size: 16px;
  border: 3px solid $gm-dark-blue;
  background-color: #ffffff;
  padding: 2px 6px;
  height: 32px;
}
.email:focus,
.email--small:focus {
  outline: none;
  border-color: $gm-teal;
}
.email-input-wrap {
  flex: 1 1 auto;
}
.email-submit-wrap {
  flex: 0 0 auto;
  margin: 14px 0 0 0;
}
.email-button {
  border: none;
  color: white;
  background-color: $gm-dark-blue;
  width: 100%;
  font-size: 18px;
  padding: 0 16px;
  font-weight: 200;
  height: 52px;

  @media (min-width: 520px) {
    font-size: 28px;
  }
}
.email-button--small {
  border: none;
  color: white;
  background-color: $gm-dark-blue;
  width: 100%;
  font-size: 18px;
  padding: 0 12px;
  font-weight: 200;
  height: 32px;
}
.email-button:hover,
.email-button:focus,
.email-button--small:hover,
.email-button--small:focus {
  outline: none;
  background-color: $gm-teal;
}

/**
 * This page width constrains standard like the header and multicolumn content on a normal page.
 * This is the default page-width.
 */
.page-width {
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
// This page width constrains wide content like challenge-pages containing spreadseets.
.page-width-lg {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.page-width-mid {
  max-width: 864px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
// This page width constrains narrow content like single column lists, articles, etc.
.page-width-sm {
  max-width: 768px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.page-content {
  min-height: 500px;
}

.explainer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
  font-size: 1.25rem;
}
.laptop-underpad {
  border-top: 2rem solid #fff;
  box-shadow: 0px -2px 6px -4px #666;
}
.explainer .title {
  font-size: 1.75em;
  text-align: center;
  // Setting margin-top to zero makes it easier to balance the white space
  // on the top and bottom of explainer sections in the .explainer margin
  // value.
  margin-top: 0;
}
.explainer__how {
  text-align: center;
  overflow: hidden; // for hiding any extra how-steps "ribbon" flowing off the page
}
.cred-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  justify-content: space-around; // IE11
  justify-content: space-evenly;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 3rem 0;
}
.cred-box__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.explainer__split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: stretch;
  flex-direction: column;

  @media (min-width: 800px) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  > * {
    @media (min-width: 800px) {
      flex-basis: 50%;
    }
  }
}

.promo-video__wrapper {
  position: relative;
  padding-bottom: 62.5%;
  height: 0;
  overflow: hidden;
}
.promo-video__player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.how-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  justify-content: space-around;
  text-align: center;
  margin: 3rem 0 4rem;
}
.how-step {
  margin: 24px 6px;
  flex: 0 1 266px;
}
.how-step__title {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}
.how-step__icon {
  background: #e6e6e6;
  border-radius: 50%;
  width: 166px;
  height: 166px;
  // for horizontal & vertical centering of child.
  display: flex;
  margin: auto;
}
.how-step img {
  margin: auto;
}
.how-step p {
  font-size: 1.125rem;
  margin-bottom: 0;
}

.course-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  padding-top: 1rem;
}

.course-box {
  /* Undo default link styles, since this box is often a large a tag */
  display: block;
  color: #000;
  text-decoration: none;
  background: #fff;
  padding: 4em 1.5em 1.5em;
  max-width: 308px;
  min-height: 386px;
  text-align: center;
  border: 14px solid $gm-dark-blue;
  position: relative;
  margin-top: 46px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 32px;
}
// The course box only has a hover/focus state if the
// class is put on an <a> tag. If we use it on a <div>,
// it displays fine, but can't be interacted with.
a.course-box:hover,
a.course-box:focus {
  outline: none;
  box-shadow: 0px 5px 20px black;
  margin-top: 36px;
  margin-bottom: 42px;
}
.course-box--title {
  margin: 0 0 1em;
  font-size: 1.5em;
}
.course-box--icon {
  position: absolute;
  top: -62px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.course-box--button {
  width: 240px;
  margin: 0;
  position: absolute;
  top: 48%;
  left: calc(50% - 120px);
}
.course-box--disabled {
  border: 15px solid #aaaaaa;
  background: #eeeeee;
  color: #aaaaaa;
}
.course-box--disabled:hover,
.course-box--disabled:focus {
  box-shadow: none;
  margin-top: 46px;
  margin-bottom: 32px;
}
.course-box--free:after {
  content: "Free";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 9px;
  right: 9px;
  height: 60px;
  width: 60px;
  font-family: Lato;
  font-size: 16px;
  color: white;
  background: image-url("burst.svg") no-repeat;
  transform: rotateZ(5deg);
}

.difficulty {
  font-family: $sans-serif-stack;
  font-size: 0.75rem;
}
.difficulty i {
  color: #ccc;
  font-style: normal;
}
.difficulty[data-level="1"] i:nth-child(-n + 1) {
  color: $gm-dark-blue;
}
.difficulty[data-level="2"] i:nth-child(-n + 2) {
  color: $gm-dark-blue;
}
.difficulty[data-level="3"] i:nth-child(-n + 3) {
  color: $gm-dark-blue;
}
.difficulty[data-level="4"] i:nth-child(-n + 4) {
  color: $gm-dark-blue;
}
.difficulty[data-level="5"] i:nth-child(-n + 5) {
  color: $gm-dark-blue;
}

// The classic, blue, jumbotron, originally used on the home page.
.jumbotron {
  text-align: center;
  overflow: auto;
  background: image-url("tri_transparent.png"), linear-gradient(to bottom, #adb0c3 0%, #ddddf1 100%);
  left: 0;
  position: relative;
  background-color: black;
  width: 100%;
  padding: 0 1rem;
}
// A dark-styled alternative Jumbotron
.jumbotron--dark {
  text-align: center;
  overflow: auto;
  left: 0;
  background: image-url("tri_opaque_sm.png");
  position: relative;
  background-color: #323232;
  width: 100%;
  padding: 0 1rem;
}

.jumbotron__overlap {
  margin-bottom: -2rem;
}
.jumbotron__title {
  font-size: 2.25rem;
  color: white;
  margin: 2.5rem 0;
  line-height: 1.2;

  @media (min-width: 700px) {
    font-size: 3.5rem;
  }
}
.jumbotron__subtitle {
  // (subtitles are optional on landing pages)
  margin: 0 auto;
  padding-bottom: 2rem;
  color: white;
  font-size: 1.25rem;
  font-weight: normal;
  max-width: 600px;

  @media (min-width: 700px) {
    font-size: 1.625rem;
  }
}

// Jumbotron display option 1
.jumbotron__visual {
  width: 600px;
  position: relative;
  z-index: 1;
}
.jumbotron__actions {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 5rem;
  z-index: 1;
}

// Jumbotron display option 2
.jumbotron__two-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1.25rem;

  @media (min-width: 700px) {
    flex-direction: row;
  }
}
.jumbotron__two-col__details {
  flex-basis: 50%;
  text-align: center;

  @media (min-width: 700px) {
    text-align: left;
    font-size: 1.5rem;
  }
}
.jumbotron__two-col__details-text {
  color: white;
  margin: 0 0 1.5rem 0;
  font-size: 1.25rem;
  font-weight: normal;

  @media (min-width: 700px) {
    font-size: 1.5rem;
  }
}
.jumbotron__two-col__details-text--smaller {
  @media (min-width: 700px) {
    font-size: 1.35rem;
  }
}
.jumbotron__two-col__details-action {
  margin-bottom: 2rem;

  @media (min-width: 700px) {
    margin-bottom: 3rem;
  }
}
.jumbotron__two-col__visual {
  flex-basis: 50%;
  margin-left: 0;

  @media (min-width: 700px) {
    margin-left: 0.25rem;
  }
  @media (min-width: 960px) {
    margin-left: 2rem;
  }
}

/* landing page styles */
.landing1 {
  text-align: center;
}
.landing1__quotes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 0;
}
.landing1__quote {
  color: #666;
  font-size: 18px;
  margin: 16px 4%;
  font-style: italic;
  flex: 1 1 270px;
  text-align: left;
}
.landing1__email-wrapper {
  max-width: 500px;
  margin: 2rem auto 3rem;
}
.landing1__responses {
  padding-top: 1rem;
  clear: both;
}
.landing1__feature {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  margin-bottom: 2rem;

  @media (min-width: 500px) {
    flex-direction: row;
  }
}
.landing1__feature__box--sm {
  flex-basis: 35%;
}
.landing1__feature__box--lg {
  flex-basis: 65%;
  margin: 0;

  @media (min-width: 500px) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 500px) {
  .landing1 .email-button,
  .landing1 .email {
    font-size: 16px;
  }
}

.single-quote-below-content {
  margin: 3rem auto 1rem;
  max-width: 480px;
  color: #666;
  font-size: 18px;
  font-style: italic;
}

.tip {
  text-align: center;
}
.tip__supertitle {
  font-family: $sans-serif-stack;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0rem;
  text-align: center;
  text-decoration: none;
  color: $gm-forest;

  &:hover {
    text-decoration: underline;
  }
}
.tip__date {
  font-family: $sans-serif-stack;
  color: #999;
  font-size: 0.875rem;
  margin: 0 0 1rem;
}
.tip__gif {
  border: 5px solid $gm-dark-blue;
}
.minitip {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.minitip__gif {
  border: 3px solid $gm-dark-blue;
  width: 300px;
}
.tip__desc {
  text-align: left;
  max-width: 500px;
  margin: 3rem auto 2rem;
}
.tip__share-text {
  font-family: $sans-serif-stack;
  text-align: center;
  font-size: 14px;
  padding: 1rem 0 0.25rem;
}
.tip__footer {
  padding: 3rem 0 2rem;
  font-family: $sans-serif-stack;
  font-size: 0.875rem;
  text-align: initial;
  display: flex;
}
// The tip__footer-item els & styles are needed to give us robust pagination alignment, even when:
//
//   - screen sizes change
//   - we have variable length text in the previous/next links
//   - "previous" or "next" is absent (like on the first and last items)
//
// For details, see: https://stackoverflow.com/q/32378953/1154642
.tip__footer-item {
  flex: 1;
  display: flex;
  justify-content: center;
}
.tip__previous {
  margin-right: auto;
  text-decoration: none;

  &::before {
    font-size: 18px;
    line-height: 1;
    padding-right: 10px;
    content: "«";
  }
}
.tip__archives {
  text-decoration: none;
}
.tip__next {
  margin-left: auto;
  text-decoration: none;

  &::after {
    font-size: 18px;
    line-height: 1;
    padding-left: 10px;
    content: "»";
  }
}

.tips-index__title {
  font-family: $sans-serif-stack;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: center;
  color: $gm-forest;
}
.tips-index__subtitle {
  font-family: $sans-serif-stack;
  font-size: 1rem;
  margin: 0rem;
  text-align: center;
  color: $gm-forest;
}

.tips-signup-title {
  max-width: 625px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.625rem;
  font-weight: normal;
}
/* for use on the tips index page */
.tips-signup-title--small {
  max-width: 625px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.333rem;
  font-weight: normal;
}

.tiplist {
  margin: 3rem 0 4rem 0;
}
.tiplist__previous {
  font-family: $sans-serif-stack;
  font-size: 1rem;
  text-align: center;
  color: $gm-forest;
  margin: 0;
}
.tiplist__list {
  padding: 0;
  margin: 2rem auto 0;
  max-width: 595px;
  list-style-type: none;
}
.tiplist__tip {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 10px;

  &:nth-child(odd) {
    background-color: #f6f6f6;
  }
}
.tiplist__date {
  flex: 0 0 160px;
  color: #666;
  font-size: 1rem;
}
.tiplist__link {
  flex: 1 1;
  font-size: 1rem;
}
.tips-footer-wrapper {
  margin-top: 4rem;
}


.team {
  display: flex;
  justify-content: space-between;
}
.teammate-box {
  flex-basis: 45%;
  padding: 1rem;
  text-align: center;
}
.teammate-image {
  border-radius: 50%;
}
.teammate-name {
  margin: 0.5rem 0;
}
.teammate-bio {
  font-size: 1rem;
}

.pricing-options {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  flex-wrap: wrap;

  @media (min-width: 670px) {
    flex-wrap: nowrap;
  }
}
.pricing-option {
  background: #fff;
  border-radius: 3px;
  margin: 0 1rem 1rem;
  padding: 1.375rem 2rem 2rem;
  width: 350px;
  text-align: center;

  // Vertical flexbox inside an individual option
  display: flex;
  flex-direction: column;
}
.pricing-option__border {
  border: 1px solid #888;
}
.pricing-option--highlighted {
  box-shadow: 0px 0px 64px 10px #888;
}
.pricing-option__header {
  flex: 1 0 auto;
}
.pricing-option__footer {
  margin-top: 0.5rem;
  flex: 0 0 auto;

  > a {
    // When stripe's button style is applied to an anchor
    // it makes it inline-block which creates padding underneath
    // that can be canceled out using this property. See also:
    // https://stackoverflow.com/a/10612455/1154642
    vertical-align: top;
  }
}
.pricing-option__title {
  font-family: $sans-serif-stack;
  font-size: 18px;
  color: $gm-forest;
  margin-top: 0;
}

.pricing-option__price {
  font-family: $sans-serif-stack;
  font-size: 44px;
}
.pricing-option__price--dim {
  font-family: $sans-serif-stack;
  font-size: 34px;
  padding: 10px 0;
  color: #CCC;
}
.pricing-option__limited {
  font-family: $sans-serif-stack;
  font-size: 13px;
  color: red;
}
.pricing-option__features {
  text-align: left;
  font-size: 15px;
}
.pricing-option__coming {
  font-size: 11px;
  color: #aaa;
}

// This is for positioning a very specific jump-link target in the right location
.guarantee-position {
  position: absolute;
  top: -36px;
}

.customer-logos {
  width: 100%;
  position: relative;
  padding: 36px 0;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-around; // IE11
  justify-content: space-evenly;
  align-items: center;

  > * {
    padding: 0 16px;
  }
}
.customer-logos--overlapped {
  padding-top: 50px;
  box-shadow: 0px -2px 6px -4px #666;
}

.privacy {
  font-family: Arial, Helvetica;
  font-size: 0.75rem;
  color: #444;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin: 0;
  background-color: #eee;
  padding: 1rem;
}

/* ==========================================================================
   Helper / Utility classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
  display: none !important;
}
.relative {
  position: relative;
}

.right {
  float: right;
}

.left {
  float: left;
}

.align-left {
  text-align: left;
}
.center, // deprecated, but not removed yet.
.align-center {
  text-align: center;
}

.clear {
  clear: both;
}

.small {
  font-size: 12px;
}

// Removes default button styles. See: https://gist.github.com/MoOx/9137295
.unbutton {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  text-align: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

// spacing system: .[pad/mar]-[location]-[size]
// see addin.css for other similar examples
.pad {
  padding: 1rem;
}
.pad-vert-lg {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pad-page {
  // Generously pads the top and bottom of a page container.
  // Intended for use on many simple pages
  padding: 3rem 0;
}

.bg-khaki {
  background-color: $gm-khaki;
}
.bg-green {
  background-color: $gm-green;
}
.bg-red {
  background-color: $gm-red;
}
.bg-light-blue {
  background-color: $gm-light-blue;
}
.bg-grid {
  background: image-url("grid1.png") mintcream;
}
.bg-dark-hexdots {
  background: image-url("connectwork.png");
}
.bg-light-gray-1 {
  background: #f5f5f5;
}
.bg-light-gray-2 {
  background: #dadada;
}


.clr-white {
  color: white;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* @todo: swap these media queries from desktop-first to mobile-first (max-width, to min-width) */
@media only screen and (max-width: 550px) {
  /* narrow screen styles for home page */
  .how-steps {
    flex-wrap: wrap;
  }
  .how-step {
    width: 100%;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                               http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /**
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
