// These are duplicates of what's in main.scss. See the comment at the top of that file for why.
$sans-serif-stack: "Lato", Arial, sans-serif;
$serif-stack: "Noticia Text", Georgia, serif;

// Styles for user account pages (sign-up, log-in, profile, etc)
// Not sure if this per-controller organization makes sense (it's not really a sparkboxy
// way of doing things) but we're trying it.

// The `.user-form` class is intended to provide decent, out-of-the-box styles for
// user-access forms (including: login, signup, and pw-reset). If a form needs to
// look significantly different that these defaults then custom styles should be
// written for it instead of inheriting these styles.
.user-form {
  max-width: 400px;
  margin: 0 auto;

  label {
    font-family: $sans-serif-stack;
    font-size: 14px;
  }

  input {
    border: 1px solid #ccc;
  }

  input,
  button {
    width: 100%;
    margin: 0 0 8px 0;
    padding-left: 4px;

    &[type="submit"] {
      margin-top: 16px;
    }
  }
}
.field_with_errors input {
  border: 1px solid #f26161;
}
.devise-links {
  margin: 2.5rem 0;
}
.devise-link {
  font-family: $sans-serif-stack;
  font-size: 0.875rem;
  margin: 8px 0;
}
.user-form-meta {
  font-family: $sans-serif-stack;
  font-size: 0.75rem;
}

// Profile styles:
.user-sidebar {
  max-width: 300px;

  // temporary overrides until I have more content
  // I want to put on this page.
  max-width: 456px;
  margin: 1rem auto;
}
.user-account-details {
  border-radius: 2px;
  background-color: #f8f8f8;
}
.user-sidebar__title {
  text-align: center;
  font-size: 14px;
  font-family: $sans-serif-stack;
  margin: 0;
  padding-top: 10px;
}

.user-image {
  padding: 10px;
}

.user-profile-form {
  padding: 10px;
  border-bottom: 1px solid #e2e2e2;

  label,
  .label {
    font-family: $sans-serif-stack;
    font-size: 12px;
  }

  input {
    width: 100%;
    margin: 0 0 8px 0;
    padding-left: 4px;
    border: 1px solid #ccc;

    &[type="submit"] {
      margin-top: 16px;
    }
  }

  form fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  button {
    margin-left: 0;
  }

  p {
    font-family: $sans-serif-stack;
    font-size: 14px;
  }

  table {
    font-family: $sans-serif-stack;
    font-size: 12px;
    border-spacing: 0;
    border-collapse: collapse;

    th,
    td {
      border: solid 1px #ccc;
      padding: 5px 11px;
      vertical-align: top;
      text-align: left;
    }
  }
}

.user-delete {
  line-height: 1;
  padding: 0.4rem 0.625rem 0.625rem 0.625rem;

  a {
    font-size: 0.625rem;
    font-family: $sans-serif-stack;
  }
}
