<p>Well hello!</p>

<p>We've created a new Gridmaster account for you under your email address: <%= @email %></p>

<p>Now there's only two things left to do:</p>

<ol>
  <li><p><%= link_to 'Click here to confirm your account', confirmation_url(@resource, confirmation_token: @confirmation_token) %></p></li>
  <li><p><%= link_to 'Click here to reset your password', edit_password_url(@resource, reset_password_token: @reset_password_token) %></p></li>
</ol>

<p>Once you've done that, you can use your account with <a href="https://appsource.microsoft.com/en-us/product/office/WA104381078?tab=Overview">our Excel Addin</a> to access our courses. If you've got any questions, just reply back to this email and I'll respond as soon as I see it.</p>

<p>Thanks, and welcome aboard!</p>

<p>- Bryan</p>
