<p>Welcome <%= @email %>!</p>

<p>You can confirm your Gridmaster account email through the link below:</p>

<p><%= link_to 'Confirm my Gridmaster account', confirmation_url(@resource, confirmation_token: @token) %></p>
