<div class="ms-font-m">
<%- if controller_name != 'sessions' %>
  <div class="devise-form-link">Already have an account? <%= link_to "Log in", new_session_path(resource_name) %></div>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="devise-form-link">Don't have an account? <%= link_to "Sign up for free", new_registration_path(resource_name) %></div>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%# point to to our custom password reset path %>
  <div class="devise-form-link"><%= link_to "Forgot your password?", addin_users_password_new_path %></div>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%# point to to our custom confirmations path %>
  <div class="devise-form-link"><%= link_to "Didn't receive confirmation instructions?", addin_users_confirmation_new_path %></div>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <div class="devise-form-link"><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %></div>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <div class="devise-form-link"><%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %></div>
  <% end -%>
<% end -%>
</div>
