<%# I put this in its own file so it could be embedded in templates, as
    well as rendered and returned as data for forms submitting via AJAX %>

<div class="addin-flash-wrap">
  <% flash.each do |key, value| %>
    <div class="ms-MessageBar addin-flash <%= addin_flash_class(key) %>">
      <div class="ms-MessageBar-content">
        <div class="ms-MessageBar-icon">
          <i class="ms-Icon <%= addin_flash_icon(key) %>"></i>
        </div>
        <div class="ms-MessageBar-text">
          <%= value %>
        </div>
      </div>
    </div>
  <% end %>
</div>
