<footer class="ms-bgColor-neutralDark">

  <div class="ms-landing-page__footer">
    <%= link_to addin_root_path, class: "ms-landing-page__footer--left gridmaster-wordmark-wrapper clean-up-listeners" do %>
      <%= image_tag("gridmaster-addin-footer-logo.png") %>
    <% end %>
    <div>
      <a href="#" class="addin-settings ms-landing-page__footer--right">
        <i class="ms-Icon addin-settings__icon ms-Icon--Settings ms-fontColor-white"></i>
      </a>
      <nav class="addin-footer-nav">
        <% if addin_user_signed_in? %>
          <%# This fake logout link simply clicks the real (hidden) one. This allows us to add listeners
              that do things before logging out (like clean up Excel artifacts). This normally isn't possible
              because links with method: :delete have rails JS listeners on them that we can't get in front of. %>
          <%= link_to "Log Out", '#', class: "addin-footer-nav__link fake-logout-link" %>
          <%= link_to "Log Out", destroy_addin_user_session_path, method: :delete, class: "addin-footer-nav__link real-logout-link is-hidden" %>
          <%= link_to "Profile", edit_addin_user_registration_path, class: "addin-footer-nav__link clean-up-listeners" %>
        <% else %>
          <%= link_to "Log In", new_addin_user_session_path, class: "addin-footer-nav__link clean-up-listeners" %>
          <%= link_to "Sign Up", new_addin_user_registration_path, class: "addin-footer-nav__link clean-up-listeners" %>
        <% end %>
      </nav>
    </div>
  </div>

</footer>
