
<div class="modal is-hidden" id="feedback">
  <div class="modal__inner">

      <div class="modal__header">
        <h2>Leave Feedback</h2>
        <a href="#0" class="modal__dismiss">
          <i class="ms-Icon ms-Icon--Cancel ms-fontColor-white modal__icon"></i>
        </a>
      </div>
      <div class="modal__body">
        <%= form_tag(addin_feedback_create_path, method: "post") do %>

          <p class="mar-bt ms-font-m">Hey there! Please let us know how we're doing:</p>

          <%= label_tag(:feedback, "Feedback", :class => "visuallyhidden") %>
          <%= text_area(:feedback, :message, :class => "full-width", :rows => 8) %>

          <p class="mar-bt ms-font-m">Seriously, we read every submission and use your feedback to make Gridmaster better.</p>

          <% if local_assigns[:redirect] %>
            <%= hidden_field_tag :redirect, redirect %>
          <% end %>

          <%= hidden_field :feedback, :metadata, :value => "General feedback from #{request.url}" %>
          <%= hidden_field :feedback, :name, :value => @user.name %>
          <%= hidden_field :feedback, :email, :value => @user.email %>
          <%= hidden_field :feedback, :nickname %>

          <%= submit_tag "Submit" %>

        <% end %>
      </div>
    </div>

  </div>
</div>
