
<div class="modal is-hidden" id="get-notified">
  <div class="modal__inner">
    <div class="modal__header">
      <h2>Get Notified</h2>
      <a href="#0" class="modal__dismiss">
        <i class="ms-Icon ms-Icon--Cancel ms-fontColor-white modal__icon"></i>
      </a>
    </div>
    <div class="modal__body">
      <p class="mar-bt ms-font-m">Sign up to get notified when new courses arrive.</p>

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup" class="courses-inline-signup">
        <form action="//gridmaster.us11.list-manage.com/subscribe/post?u=c6aa5d99b8059f1aba3005443&amp;id=65ef90be52" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL" class="ms-font-xs block">Email Address:</label>
            <div class="mc-field-group courses-inline-signup__inputs">
              <div>
                <input type="email" value="" name="EMAIL" class="required email full-width" placeholder="you@domain.com" id="mce-EMAIL" />
              </div>
              <div>
                <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" />
              </div>
            </div>
            <div id="mce-responses" class="clear">
              <div class="response mar-top-sm" id="mce-error-response" style="display:none"></div>
              <div class="response mar-top-sm" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c6aa5d99b8059f1aba3005443_65ef90be52" tabindex="-1" value=""></div>
          </div>
        </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
      <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->
    </div>
  </div>
</div>
