<header class="ms-navigation-back-button__header ms-bgColor-neutralDark">
  <div class="ms-navigation-back-button__header--left">
    <%# Include "up-a-level" button, for all page except the top-level one %>
    <% if last_segment_of_current_url != 'courses' %>
      <%= link_to url_a_level_above_current_url, class: "ms-navigation-back-button__back clean-up-listeners" do %>
        <i class="ms-Icon ms-Icon--ChevronLeft ms-fontColor-white"></i>
      <% end %>
    <% end %>
  </div>
  <h1 id="nav-title" class="nav-title ms-navigation-back-button__header--center ms-fontWeight-light ms-fontColor-white">
    <%= yield :title %>
  </h1>
  <div class="ms-navigation-back-button__header--right"></div>
</header>
