
<div class="modal" id="purchase-prompt">
  <div class="modal__inner">
    <div class="modal__header">
      <h2>Get Full Access</h2>
    </div>
    <div class="modal__body">
      <p class="mar-bt ms-font-m">This content requires a premium account.</p>
      <p class="mar-bt ms-font-m">A premium account costs $79, one time, and gives you full access to <em>all of our current and future courses</em>.</p>
      <p class="mar-bt-20 ms-font-m"><strong>This is an investment in yourself.</strong> If for some reason you aren't satisfied, we'll refund you 100%.</p>

      <%= button_tag type: "submit", class: "ms-Button ms-Button--primary full-width mar-bt stripe-checkout--premium" do %>
        <span class="ms-Button-label msfix-button-lite">
          <%= addin_user_signed_in? ? 'Upgrade my Account' : 'Get a Premium Account' %>
        </span>
      <% end %>
      <% if !addin_user_signed_in? %>
        <p class="ms-font-m center">
          <%= link_to "I already have an account", new_session_path(resource_name) %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<%#
  Adds Stripe Checkout (custom) to a page.

  It works by turning any button with a class of .stripe-checkout--premium
  into a premium stripe checkout button.

  This assumes it's only being embedded on a page once, and it's being embedded on
  a page that could have access to current_user (though it's protected in a condition)
%>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
  // Global Stripe initialization
  var stripeHandler = StripeCheckout.configure({
    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
    name: 'Gridmaster',
    image: '<%= image_path('gridmaster-128.png') %>',
    email: '<%= current_addin_user.email if addin_user_signed_in? %>',
    zipCode: true,
    locale: 'auto',
    allowRememberMe: false,
    token: function(token) {
      GM.hardPost('<%= addin_charges_path %>', {
        authenticity_token: '<%= form_authenticity_token %>',
        stripeEmail: token.email,
        stripeToken: token.id
      });
    }
  });

  // "Premium" Button Setup
  (function() {
    function stripePremiumButtonCallback(e) {
      stripeHandler.open({
        description: 'Premium',
        amount: 7900,
        panelLabel: '<%= addin_user_signed_in? ? 'Upgrade Account' : 'Create Account' %>'
      });
      e.preventDefault();
    }

    var stripeButtons = document.querySelectorAll('.stripe-checkout--premium');

    for (i = 0; i < stripeButtons.length; i++) {
      stripeButtons[i].addEventListener('click', stripePremiumButtonCallback);
    }

    // Close Checkout on page navigation:
    window.addEventListener('popstate', function() {
      stripeHandler.close();
    });
  })();
</script>
