<% provide(:title, @lesson.name) %>

<%# json_escape protects against XSS.
    See http://api.rubyonrails.org/classes/ERB/Util.html#method-c-json_escape %>
<% provide(:inlineData, raw(json_escape(@lesson.challenge_data.to_json))) %>

<%# This error container below isn't flash. It's just an error message container we use
    if challengeCompletion isn't working. See challengeCompletion.js for details. %>
<div class="challenge-completion-error ms-MessageBar ms-MessageBar--error is-hidden">
  <div class="ms-MessageBar-content">
    <div class="ms-MessageBar-icon">
      <i class="ms-Icon ms-Icon--ErrorBadge"></i>
    </div>
    <div class="ms-MessageBar-text"></div>
  </div>
</div>

<data data-lesson-total="<%= @lessonTotal %>" data-step-total="<%= @lesson.challenge_data['steps'].size %>"></data>
<section class="ms-Pivot ms-Pivot--steps challenge-content ms-font-m">
  <ul class="ms-Pivot-links ms-bgColor-themeLighter challenge-nav-steps">
    <% @lesson.challenge_data['steps'].each_with_index do |step, index| %>
      <li class="<%= 'is-selected' if index == 0 %> <%= 'is-completed' if step['completed'] %> ms-Pivot-link challenge-nav-step"
          data-step-number="<%= index + 1 %>"
          tabindex="1" >
        <span class="challenge-nav-step__num"><%= index + 1 %></span>
        <i class="challenge-nav-step__check ms-Icon ms-Icon--CheckMark"></i>
      </li>
    <% end %>
  </ul>
  <div class="ms-fontColor-neutralPrimary pad">
    <div class="step-context ms-font-s">Step
      <span class="current-step-number">1</span>
        of
      <span class="total-steps"><%= @lesson.challenge_data['steps'].size %></span>
    </div>
    <div id="instruction" class="lesson-instruction ms-font-l">
      <%= sanitize @lesson.challenge_data['steps'].first['instructions'] %>
    </div>

    <%# Message Bar Docs https://github.com/OfficeDev/office-ui-fabric-js/blob/4697cb1f164d0a027d2bb6af6671d486bb438493/ghdocs/components/MessageBar.md %>
    <div class="challenge-message-container">
      <div class="ms-MessageBar ms-MessageBar--info challenge-message">
        <div class="ms-MessageBar-content">
          <div class="ms-MessageBar-icon">
            <i class="ms-Icon ms-Icon--Info"></i>
          </div>
          <div class="ms-MessageBar-text">
            Lorem ipsum dolor sit amet, a elit sem interdum consectetur adipiscing elit.
          </div>
        </div>
      </div>

      <div class="ms-MessageBar ms-MessageBar--error challenge-message">
        <div class="ms-MessageBar-content">
          <div class="ms-MessageBar-icon">
            <i class="ms-Icon ms-Icon--ErrorBadge"></i>
          </div>
          <div class="ms-MessageBar-text">
            Lorem ipsum dolor sit amet, a elit sem interdum consectetur adipiscing elit.
          </div>
        </div>
      </div>

      <div class="ms-MessageBar ms-MessageBar--success challenge-message">
        <div class="ms-MessageBar-content">
          <div class="ms-MessageBar-icon">
            <i class="ms-Icon ms-Icon--Completed"></i>
          </div>
          <div class="ms-MessageBar-text">
            Lorem ipsum dolor sit amet, a elit sem interdum consectetur adipiscing elit.
          </div>
          <div class="challenge-continue">
            <%= form_tag(addin_completions_create_path, method: "post", remote: true, id: "challenge-completion") do %>
              <%= hidden_field :completion, :user_id, value: @user.id %>
              <%= hidden_field :completion, :course_id, value: @lesson.course_id %>
              <%= hidden_field :completion, :lesson_id, value: @lesson.id %>
              <%# The challenge step data is updated via javascript as each challenge is built %>
              <%= hidden_field :completion, :challenge_step, value: '1', id: 'challenge-completion--completed-step' %>

              <%= button_tag class: "ms-Button ms-Button--primary" do %>
                <span class="ms-Button-label msfix-button-lite">Next</span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="link-footer">
      <%= link_to "Review the video", fullscreen_addin_course_lesson_url(course_id: @lesson.course_id, number_in_course: @lesson.order_in_course), class: "video-popup-link" %>
      <%= link_to "Reset this step", "#0", class: "reset-step" %>
      <% if addin_user_signed_in? %>
        <%= link_to "Report a Problem", "#0", data: { modal_trigger_id: "feedback" }, class: "ms-font-xs" %>
      <% end %>
    </div>
  </div>
</section>

<% if @lesson.order_in_course > 1 && @lesson.course.premium? && !@user.can_access_premium_courses? %>
  <%= render 'addin/shared/purchase_prompt' %>
<% end %>

<% if addin_user_signed_in? %>
  <div class="modal is-hidden" id="feedback">
    <div class="modal__inner">

      <div class="modal__header">
        <h2>Report a Problem</h2>
        <a href="#0" class="modal__dismiss">
          <i class="ms-Icon ms-Icon--Cancel ms-fontColor-white modal__icon"></i>
        </a>
      </div>
      <div class="modal__body">
        <%= form_tag(addin_feedback_create_challenge_path, method: "post", remote: true, id: "challenge-feedback") do %>

          <div class="challenge-feedback-message ms-MessageBar ms-MessageBar--error mar-bt is-hidden">
            <div class="ms-MessageBar-content">
              <div class="ms-MessageBar-icon">
                <i class="ms-Icon ms-Icon--ErrorBadge"></i>
              </div>
              <div class="ms-MessageBar-text">Well this is awkward. Something went wrong and we can't send your feedback right now. Try emailing us at info@gridmaster.io.</div>
            </div>
          </div>

          <div>
            <p class="mar-bt ms-font-m">Which best describes your problem?</p>

            <label class="leave-feedback-radio-label">
              <input type="radio" name="feedback[option]" value="This step is too hard. I don't feel prepared enough to do it." />
              <span>This step is too hard. I don't feel prepared enough to do it.</span>
            </label>
            <label class="leave-feedback-radio-label">
              <input type="radio" name="feedback[option]" value="The instructions are confusing. I'm not sure what it wants me to do." />
              <span>The instructions are confusing. I'm not sure what it wants me to do.</span>
            </label>
            <label class="leave-feedback-radio-label">
              <input type="radio" name="feedback[option]" value="I did this step correctly, but it won't let me continue." />
              <span>I did this step correctly, but it won't let me continue.</span>
            </label>
            <label class="leave-feedback-radio-label">
              <input type="radio" name="feedback[option]" value="I can't get the error message to go away." />
              <span>I can't get the error message to go away.</span>
            </label>
            <label class="leave-feedback-radio-label">
              <input type="radio" name="feedback[option]" value="The spreadsheet isn't working as expected." />
              <span>The spreadsheet isn't working as expected.</span>
            </label>
            <label class="leave-feedback-radio-label">
              <input type="radio" name="feedback[option]" value="I have other feedback." />
              <span>I have other feedback.</span>
            </label>
          </div>

          <div>
            <p class="mar-bt ms-font-m">Please share more details, if appropriate.</p>
            <%= label_tag(:feedback, "Detailed response (optional)", :class => "visuallyhidden") %>
            <%= text_area(:feedback, :message, :class => "full-width", :rows => 4) %>
          </div>

          <%= hidden_field :feedback, :name, :value => @user.name %>
          <%= hidden_field :feedback, :email, :value => @user.email %>
          <%= hidden_field :feedback, :metadata, :value => request.url %>
          <%= hidden_field :feedback, :nickname %>

          <%= submit_tag "Submit" %>
        <% end %>
      </div>

    </div>
  </div>
<% end %>

<% if !addin_user_signed_in? %>
  <div class="modal is-hidden" id="save-your-progress">
    <div class="modal__inner">

      <div class="modal__header">
        <h2>Don't lose your progress!</h2>
      </div>
      <div class="modal__body">
        <div>
          <p class="center mar-bt-sm"><%= image_tag("progress-hiker-sm.png", alt: "Hiker on a path", style: "width: 72px") %></p>
          <p class="ms-font-m mar-bt-xsm">You're on the path to mastery!</p>
        </div>

        <div id="signup">
          <p class="mar-bt ms-font-m">Create a free account to save your progress.</p>

          <%= form_tag(addin_user_registration_path, method: "post", id: "sign-up-and-save-progress", class: "mar-bt") do %>

            <div class="field">
              <div><%= label_tag :email, "Email" %></div>
              <div><%= email_field resource_name, :email, class: "full-width", id: "sign-up-email" %></div>
            </div>

            <div class="password-side-by-side">
              <div class="field">
                <div><%= label_tag :password, "Password" %></div>
                <div><%= password_field resource_name, :password, autocomplete: "off", class: "full-width", id: "sign-up-password" %></div>
              </div>

              <div class="field">
                <div><%= label_tag :password_confirmation, "Confirm Password" %></div>
                <div><%= password_field resource_name, :password_confirmation, autocomplete: "off", class: "full-width", id: "sign-up-password-confirmation" %></div>
              </div>
            </div>
            <% if @minimum_password_length %>
              <div class="ms-font-11"><em>(<%= @minimum_password_length %> characters minimum)</em></div>
            <% end %>

            <%= hidden_field :completion, :user_id, value: @user.id, id: "sign-up-user-id" %>
            <%= hidden_field :completion, :course_id, value: @lesson.course_id, id: "sign-up-course-id" %>
            <%= hidden_field :completion, :lesson_id, value: @lesson.id, id: "sign-up-lesson-id" %>
            <%= hidden_field :completion, :challenge_step, value: '1', id: 'sign-up-and-save-progress--completed-step' %>

            <script>
              // We must define our cleanup callback function before including our recaptcha scripts in the source, or we'll get an error.
              // See: https://stackoverflow.com/a/50237840/1154642 and https://developers.google.com/recaptcha/docs/invisible#programmatic_execute
              function gridmasterInvisibleRecaptchaCallback() {
                GM.challengeSaveProgress.cleanupChallengeArtifactsBeforeSubmittingSignupForm();
              }
            </script>
            <%= invisible_recaptcha_tags text: "Create Account", callback: 'gridmasterInvisibleRecaptchaCallback', class: "ms-Button ms-Button--primary msfix-button-primary full-width mar-top mar-bt-sm" %>
            <%= button_tag "Continue without Saving", type: "button", class: "ms-Button ms-Button--default msfix-button-default full-width ellipsis", onclick: "GM.challengeSaveProgress.onContinueWithoutSaving()" %>
          <% end %>

          <div class="center">
            <div class="mar-bt-sm ms-font-m">Already have an account? <%= link_to "Log in", "#", id: "prompt-login-link" %></div>
          </div>

        </div>
        <div id="login" class="is-hidden">
          <p class="mar-bt ms-font-m">Log in to save your progress.</p>

          <%= form_tag(addin_user_session_path, method: "post", id: "log-in-and-save-progress", class: "mar-bt") do %>

            <div class="field">
              <div><%= label_tag :email, "Email" %></div>
              <div><%= email_field resource_name, :email, autofocus: true, class: "full-width", id: "log-in-email" %></div>
            </div>

            <div class="field">
              <div><%= label_tag :password, "Password" %></div>
              <div><%= password_field resource_name, :password, autocomplete: "off", class: "full-width mar-none", id: "log-in-password" %></div>
            </div>

            <%# @todo: remove this "rememberable" feature entirely %>
            <%# if devise_mapping.rememberable? %>
              <%# <div class="field"> %>
                <%#= f.check_box :remember_me %>
                <%#= f.label :remember_me %>
              <%# </div> %>
            <%# end %>

            <%= hidden_field :completion, :user_id, value: @user.id, id: "log-in-user-id" %>
            <%= hidden_field :completion, :course_id, value: @lesson.course_id, id: "log-in-course-id" %>
            <%= hidden_field :completion, :lesson_id, value: @lesson.id, id: "log-in-lesson-id" %>
            <%= hidden_field :completion, :challenge_step, value: '1', id: 'log-in-and-save-progress--completed-step' %>

            <%= button_tag "Log in", type: "submit", class: "ms-Button ms-Button--primary msfix-button-primary full-width mar-top mar-bt-sm" %>
            <%= button_tag "Continue without Saving", type: "button", class: "ms-Button ms-Button--default msfix-button-default full-width", onclick: "GM.challengeSaveProgress.onContinueWithoutSaving()" %>

          <% end %>
          <div class="center">
            <div class="mar-bt-sm ms-font-m">Don't have an account? <%= link_to "Sign up", "#", id: "prompt-signup-link" %></div>
            <div class="ms-font-s"><%= link_to "Forgot your password?", addin_users_password_new_path, class: "clean-up-listeners" %></div>
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>

<div class="modal is-hidden" id="overwriteDocument">
  <div class="modal__inner">
    <div class="modal__header">
      <h2>Overwrite Workbook?</h2>
    </div>
    <div class="modal__body">
      <div id="overwrite-question">
        <p class="mar-bt ms-font-m">Is it ok if we overwrite the data in this workbook to set up spreadsheet challenges?</p>
        <p class="mar-bt ms-font-xs">(this gives us permission to make changes for this challenge and future challenges as well)</p>
        <button onclick="GM.overwriteDocument.onApproveOverwrite(GM.challenges.bootstrapChallenge)" class="ms-Button ms-Button--primary">
          <span class="ms-Button-label msfix-button-lite">Yes</span>
        </button>
        <button onclick="GM.overwriteDocument.onDeclineOverwrite()" class="ms-Button ms-Button--primary">
          <span class="ms-Button-label msfix-button-lite">No</span>
        </button>
      </div>
      <div id="overwrite-declined" class="is-hidden">
        <p class="mar-bt ms-font-m">No worries. We recommend you open a new blank Excel workbook and try out the challenges from there.</p>
        <%= link_to url_a_level_above_current_url, class: "clean-up-listeners ms-Button ms-Button--primary msfix-linkbutton" do %>
          <span class="ms-fontColor-white">Back to the Lesson</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
