<iframe src="https://player.vimeo.com/video/<%= @lesson.video_id %>"
  class="ms-firstrun-video__player"
  width="640"
  height="480"
  frameborder="0"
  allowfullscreen>
</iframe>

<%# @todo: see if I can remove at least some of this css %>
<style>
/*
    Styles come from:
    https://github.com/OfficeDev/Office-Add-in-UX-Design-Patterns-Code
 */

/* Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See full license in root of repo. */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  position: relative;
  font-size: 16px;
}

main {
  height: 100%;
  overflow-y: auto;
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

.clearfix {
  display: block;
  clear: both;
  height: 0;
}

.pointerCursor {
  cursor: pointer;
}

.invisible {
  visibility: hidden;
}

.ms-Icon.enlarge {
  position: relative;
  font-size: 20px;
  top: 4px;
}

.ms-firstrun-video {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  height: 100%;
  text-align: center;
}
.ms-firstrun-video__header {
  padding: 20px;
  min-height: 160px;
  max-height: 250px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.ms-firstrun-video__header h1 {
  letter-spacing: 5px;
}
.ms-firstrun-video__header p {
  margin-top: 7px;
}
.ms-firstrun-video__header--skip {
  text-align: right;
}
.ms-firstrun-video__header--image {
  background: transparent no-repeat center center;
  background-image: url("../../../assets/video-placeholder.png");
  background-size: cover;
  margin-top: 15px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: stretch;
          justify-content: stretch;
  -webkit-align-items: stretch;
          align-items: stretch;
  transition: background ease 0.1s, color ease 0.1s;
  -webkit-flex: 0 1 0;
          flex: 0 1 0;
  min-height: 200px;
}
.ms-firstrun-video__header--image:active, .ms-firstrun-video__header--image:hover {
  background: url("../../../assets/video-placeholder.png") center center no-repeat/cover;
  cursor: pointer;
}
.ms-firstrun-video__header--image:active {
  background: url("../../../assets/video-placeholder.png") center center no-repeat/cover;
  -webkit-transform: scale3d(0.98, 0.98, 1);
          transform: scale3d(0.98, 0.98, 1);
}
.ms-firstrun-video__header--image--disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}
.ms-firstrun-video__header--image--disabled:active, .ms-firstrun-video__header--image--disabled:hover {
  background: transparent;
}
.ms-firstrun-video__header--image--disabled:active {
  -webkit-transform: none;
          transform: none;
}
.ms-firstrun-video__welcome {
  width: 100%;
  height: 100%;
  -webkit-flex: 1 1 0;
          flex: 1 1 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}
.ms-firstrun-video__welcome img {
  height: 100px;
}
.ms-firstrun-video__player {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: stretch;
          justify-content: stretch;
  -webkit-align-items: stretch;
          align-items: stretch;
}
.ms-firstrun-video__player img {
  height: 100%;
}
.ms-firstrun-video__content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  height: 100%;
  -webkit-flex: 1 1 0;
          flex: 1 1 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.ms-firstrun-video__content--centered {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.ms-firstrun-video__content--caption {
  margin-top: 5px;
}
.ms-firstrun-video__content--valuestatement {
  padding-top: 50px;
}
.ms-firstrun-video__list {
  list-style-type: none;
}
.ms-firstrun-video__list li {
  margin-bottom: 20px;
}
.ms-firstrun-video__list li i {
  position: relative;
  top: 2px;
  margin-right: 10px;
}
.ms-firstrun-video__action--primary.ms-Button {
  -webkit-align-self: center;
          align-self: center;
  margin-top: 65px;
  border: solid 2px #FFFFFF;
  width: calc(100vw - 40px);
  padding: 10px;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  transition: background ease 0.1s, color ease 0.1s;
}
.ms-firstrun-video__action--primary.ms-Button span.ms-Button-label {
  color: #FFFFFF;
}
.ms-firstrun-video__action--primary.ms-Button:active, .ms-firstrun-video__action--primary.ms-Button:hover {
  background: #FFFFFF;
  color: #0078d7;
  cursor: pointer;
}
.ms-firstrun-video__action--primary.ms-Button:active {
  background: #FFFFFF;
}
.ms-firstrun-video__action--primary.ms-Button--disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}
.ms-firstrun-video__action--primary.ms-Button--disabled:active, .ms-firstrun-video__action--primary.ms-Button--disabled:hover {
  background: transparent;
}
.ms-firstrun-video__button {
  padding-top: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}
</style>
