<% provide(:title, @course.name) %>

<section class="ms-landing-page__content">
  <h1 class="mar-bt">Lessons</h1>

  <% @lessons.each_with_index do |lesson, index| %>
    <%= link_to addin_course_lesson_path(course_id: lesson.course_id, number_in_course: lesson.order_in_course),
        class: "#{'lesson-box--free' if index == 0 && @course.premium?} lesson-box ms-fontColor-white ms-bgColor-themePrimary ms-bgColor-themeDark--hover pad" do %>
      <div class="lesson-box__content">
        <div class="ms-font-l"><%= lesson.order_in_course %>. <%= lesson.name %></div>
        <% if lesson.completed %>
          <i class="ms-Icon lesson-box__completed-icon ms-Icon--CheckMark ms-fontColor-white"></i>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if addin_user_signed_in? %>
    <div class="link-footer">
      <%= link_to "Leave Feedback", "#0", data: { modal_trigger_id: "feedback" }, class: "ms-font-xs" %>
    </div>

    <%= render 'addin/shared/general_feedback' %>
  <% end %>
</section>
