<% provide(:title, @lesson.name) %>

<div class="lesson-videoplayer <%= @lesson.course.aspect_ratio == '8:5' ? 'aspect-ratio-8-5' : 'aspect-ratio-4-3' %>">
  <iframe
    src="https://player.vimeo.com/video/<%= @lesson.video_id %>"
    id="lesson-video"
    width="640"
    height="480"
    frameborder="0"
    allowfullscreen>
  </iframe>
</div>

<div class="lesson-video-meta">
  <% if addin_user_signed_in? %>
    <%= link_to "Leave Feedback", "#0", data: { modal_trigger_id: "feedback" }, class: "left" %>
  <% end %>
  <%= link_to "View Full Screen", fullscreen_addin_course_lesson_url(course_id: @lesson.course_id, number_in_course: @lesson.order_in_course), class: "video-popup-link" %>
</div>
<section class="ms-landing-page__content ms-font-m ms-fontColor-neutralPrimary">
  <%= link_to challenge_addin_course_lesson_path(course_id: @lesson.course_id, number_in_course: @lesson.order_in_course), class: "ms-Button ms-Button--primary msfix-linkbutton msfix-linkbutton-full" do %>
    <span class="ms-Button-label msfix-button-lite">Next: Try it Yourself</span>
  <% end %>
</section>

<% if @lesson.order_in_course > 1 && @lesson.course.premium? && !@user.can_access_premium_courses? %>
  <%= render 'addin/shared/purchase_prompt' %>
<% end %>

<% if addin_user_signed_in? %>
  <%= render 'addin/shared/general_feedback', redirect: request.path %>
<% end %>
