<% provide(:title, "Spreadsheet Tips: Useful Excel tips, as animated gifs") %>
<% provide(:description, "Useful Excel tips, as animated gifs. Browse them here or get them sent to your inbox.") %>
<%= content_for(:meta_og) do %>
  <%= tag :meta, property: 'og:title', content: 'Spreadsheet Tips: Useful Excel tips, as animated gifs' %>
  <%= tag :meta, property: 'og:type', content: 'article' %>
  <%= tag :meta, property: 'og:description', content: 'Useful Excel tips, as animated gifs. Browse them here or get them sent to your inbox.' %>
  <%= tag :meta, property: 'og:image', content: image_url('concatenate-tip--title-frame.png') %>
<% end %>

<div class="tips-index pad-page page-content">
  <div class="page-width-sm">
    <h1 class="tips-index__title">Spreadsheet Tips</h1>
    <h2 class="tips-index__subtitle">Useful Excel tips, as animated gifs.</h2>

    <div class="minitip">
      <%= link_to tip_path(slug: 'how-to-join-cells-with-and-symbol-excel') do %>
        <img src="/gifs/concatenate_title.gif" class="minitip__gif" alt="Concatenate Cells in Excel" />
      <% end %>
    </div>

    <div>
      <h3 class="tips-signup-title--small">Get an Excel tip like this in your inbox every few weeks.</h3>

      <!-- Begin Mailchimp Signup Form -->
      <div id="mc_embed_signup" class="tips-mini-signup-wrapper">
        <form action="https://gridmaster.us11.list-manage.com/subscribe/post?u=c6aa5d99b8059f1aba3005443&amp;id=cf722f27b0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll" class="email-layout">
            <div class="email-input-wrap">
              <label for="mce-EMAIL" class="email-label">Email Address</label>
              <input type="email" value="" placeholder="example@gmail.com" name="EMAIL" class="required email--small" id="mce-EMAIL">
            </div>
            <div class="email-submit-wrap">
              <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="email-button--small" onclick="gtag('event', 'TipsSubscribe', {'event_category': 'Individual Tip Page'});">
            </div>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_c6aa5d99b8059f1aba3005443_cf722f27b0" tabindex="-1" value="">
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>

    <div class="tiplist">
      <h2 id="previous-tips" class="tiplist__previous">Previous Tips</h2>
      <ul class="tiplist__list">
        <% @tips.each do |tip| %>
          <li class="tiplist__tip">
            <span class="tiplist__date"><%= tip.published_at.strftime("%B %d, %Y") %></span>
            <%= link_to tip_path(slug: tip.slug), class: "tiplist__link" do %>
              <%= tip.title %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <hr />
    <div id="signup" class="tips-footer-wrapper">
      <h2 class="tips-signup-title">Get an animated gif Excel tip like this in your inbox every few weeks.</h2>
      <div id="mc_embed_signup" class="tips-footer-signup-wrapper">
        <form action="//gridmaster.us11.list-manage.com/subscribe/post?u=c6aa5d99b8059f1aba3005443&amp;id=cf722f27b0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll" class="email-layout">
            <div class="email-input-wrap">
              <label for="mce-EMAIL" class="email-label">Email Address</label>
              <input type="email" value="" placeholder="example@gmail.com" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="email-submit-wrap">
              <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="email-button" onclick="gtag('event', 'TipsSubscribe', {'event_category': 'Individual Tip Page'});">
            </div>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_c6aa5d99b8059f1aba3005443_cf722f27b0" tabindex="-1" value="">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%# @todo: add accolades here, once we get some %>
