<!DOCTYPE html>

<html lang="en">
<head>
  <%= render 'shared/google-analytics' %>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= full_title(yield(:title)) %></title>
  <link rel="icon" href="/favicon.png" type="image/x-icon" />

  <!-- CDN Assets -->
  <script src="//appsforoffice.microsoft.com/lib/1/hosted/office.js"></script>
  <link href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/5.0.1/css/fabric.min.css" rel="stylesheet">
  <link href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.3.0/css/fabric.components.min.css" rel="stylesheet">

  <!-- @TODO: get offline debugging setup one day, if I want to: -->
  <!-- To enable offline debugging use local references to assets: -->
  <!-- <script src="../../bower_components/jquery/jquery.min.js"></script> -->
  <!-- <script src="../../bower_components/microsoft.office.js/scripts/Office/1/office.js"></script> -->
  <!-- <link href="../../bower_components/office-ui-fabric-core/dist/css/fabric.min.css" rel="stylesheet" type="text/css" /> -->
  <!-- <link href="../../bower_components/office-ui-fabric-js/dist/css/fabric.components.min.css" rel="stylesheet" type="text/css"/> -->

  <% if Rails.env.development? %>
    <script src="https://localhost:1337/vorlon.js"></script>
  <% end %>

  <meta name="viewport" content="width=device-width">

  <%= stylesheet_link_tag 'addin_bundle', media: 'all' %>
  <%= csrf_meta_tags %>
  <script>GM = {};</script>
</head>
<body class="ms-font-l ms-landing-page <%= body_class %>">
  <%= render "addin/shared/header" %>

  <main class="ms-landing-page__main">

    <% if !flash.empty? %>
      <%= render "addin/shared/flash" %>
    <% end %>

    <%= yield %>

    <%# COMMENT OUT THIS LINE FOR LOCAL IN-APP TESTING %>
    <%= debug(params) if Rails.env.development? %>
  </main>

  <%= render "addin/shared/footer" %>

  <%= javascript_include_tag 'addin_bundle' %>

  <%# @Todo: This condition isn't working. Results in an unneeded script tag in the DOM %>
  <% if :inlineData %>
    <script type="application/json" id="inline-data"><%= yield(:inlineData) %></script>
  <% end %>

  <script>
    (function() {
      'use strict';
      // The initialize function must be run each time a new page is loaded.
      // This only runs in environments with a working "Office" environment
      // (think true addins).
      Office.initialize = function(reason){
        $(document).ready(function(){
          GM.initializer.run();
        });
      };
    })();
  </script>
</body>
</html>
