<!DOCTYPE html>
<%# a very minimal layout, used for embedding fullscreen lesson videos via iframe in the addin %>
<html lang="en">
<head>
  <%= render 'shared/google-analytics' %>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= full_title(yield(:title)) %></title>
  <link rel="icon" href="/favicon.png" type="image/x-icon" />

  <%= csrf_meta_tags %>
</head>
<body class="ms-font-l ms-landing-page">

  <%= yield %>

</body>
</html>
