<!DOCTYPE html>
<html lang="en">
<head>
  <%#
      This is Application Simple

      It's similar to the Application layout, except there's no header and footer. This way,
      downstream templates can choose to omit them or add simplified versions of them.
  %>

  <%= render 'shared/google-analytics' %>

  <meta charset="UTF-8">
  <title><%= full_title(yield(:title)) %></title>

  <% if content_for?(:description) %>
    <%= tag :meta, name: 'description', content: yield(:description) %>
  <% end %>

  <link rel="icon" href="/favicon.png" type="image/x-icon" />

  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>

  <% if content_for?(:meta_og) %>
    <%= yield :meta_og %>
  <% else %>
    <%= tag :meta, property: 'og:title', content: yield(:title) %>
    <%= tag :meta, property: 'og:type', content: 'website' %>
    <%= tag :meta, property: 'og:url', content: request.url %>
    <%= tag :meta, property: 'og:image', content: image_url('gridmaster-300.png') %>
  <% end %>

  <meta name="viewport" content="width=device-width">

  <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Noticia+Text:400,400i,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= auto_discovery_link_tag :rss, tips_url(:format => :rss) %>

</head>
<body>

  <%= yield %>

  <%= debug(params) if Rails.env.development? %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
