<% provide(:title, @user.name) %>

<main class="profile-page page-content header-line pad-page">
  <div class="page-width">
    <h1 class="center">My Profile</h1>

    <aside class="user-sidebar">
      <%= render 'shared/flash' %>
      <%= devise_error_messages! %>

      <div class="user-account-details">
        <div class="user-profile-form">
          <h2 class="user-sidebar__title">Basic Information</h2>
          <%= form_for(resource, as: resource_name, url: users_update_info_path, html: { method: :put }) do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name %>

            <%= f.label :email %>
            <%= f.email_field :email %>

            <%= f.button "Save changes", class: "btn2 btn2-blue" %>
          <% end %>
        </div>

        <div class="user-profile-form">
          <h2 class="user-sidebar__title">Change Password</h2>
          <%= form_for(resource, as: resource_name, url: users_update_password_path, html: { method: :put }) do |f| %>

            <%= f.label :current_password, "Verify Current Password" %>
            <%= f.password_field :current_password, autocomplete: "off" %>

            <%= f.label :password, "New Password" %>
            <% if @minimum_password_length %>
              <span class="label">(<%= @minimum_password_length %> characters minimum)</span>
            <% end %>
            <%= f.password_field :password, autocomplete: "off" %>

            <%= f.label :password_confirmation, "Confirm New Password" %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>

            <%= f.button "Save changes", class: "btn2 btn2-blue" %>
          <% end %>

        </div>

        <div class="user-profile-form">
          <h2 class="user-sidebar__title">Email</h2>

          <p class="">We send out 3 types of emails:</p>

          <table class="">
            <thead>
              <tr>
                <th>Type</th>
                <th>Frequency</th>
                <th>Manage</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Account management (confirmations, etc)</td>
                <td>Triggered by your activity</td>
                <td><em>(required)</em></td>
              </tr>
              <tr>
                <td>Gridmaster updates</td>
                <td>Infrequent</td>
                <td><a href="https://gridmaster.us11.list-manage.com/unsubscribe?u=c6aa5d99b8059f1aba3005443&id=65ef90be52">Unsubscribe</a></td>
              </tr>
              <tr>
                <td>Spreadsheet tips</td>
                <td>Bi-Weekly</td>
                <td><a href="https://gridmaster.us11.list-manage.com/unsubscribe?u=c6aa5d99b8059f1aba3005443&id=cf722f27b0">Unsubscribe</a></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="user-delete">
          <%= link_to "Delete my account", registration_path(resource_name), method: :delete, data: { confirm: "Are you sure you want to delete this account? This action cannot be undone." } %>
        </div>
      </div>
    </aside>
  </div>
</main>
