<% provide(:title, 'Sign up') %>

<main class="signup-page page-content header-line pad-page">
  <div class="page-width-sm">
    <h1 class="center">Sign up</h1>
    <div class="user-form">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <%= render 'shared/flash' %>

          <div><%= f.label :email %></div>
          <div><%= f.email_field :email, autofocus: true %></div>

          <%= f.label :password %>
          <% if @minimum_password_length %>
            <div class="user-form-meta">(<%= @minimum_password_length %> characters minimum)</div>
          <% end %>
          <div><%= f.password_field :password, autocomplete: "off" %></div>

          <div><%= f.label :password_confirmation, "Confirm Password" %></div>
          <div><%= f.password_field :password_confirmation, autocomplete: "off" %></div>

        <%= invisible_recaptcha_tags text: "Create my account", class: "btn2 btn2-blue btn-large" %>
      <% end %>

      <%= render "shared/devise-links" %>

    </div>
  </div>
</main>
